<h1>UCL School of Management</h1>
<h2>MSIN0166 Data Engineering</h2>
<h4>SparkSQL workshop - Theory & Practice</h4>

<img src="https://databricks.com/wp-content/uploads/2015/03/Screen-Shot-2015-03-23-at-3.42.56-PM.png"></img>

# What is Spark SQL?

Many data scientists, analysts, and general business intelligence users rely on interactive SQL queries for exploring data. Spark SQL is a Spark module for structured data processing. It provides a programming abstraction called DataFrames and can also act as a distributed SQL query engine. 

- Spark SQL enables unmodified Hadoop Hive queries to run up to 100x faster on existing deployments and data. It also provides powerful integration with the rest of the Spark ecosystem (e.g., integrating SQL query processing with machine learning).

- It brings native support for SQL to Spark and streamlines the process of querying data stored both in RDDs (Spark’s distributed datasets) and in external sources. It conveniently blurs the lines between RDDs and relational tables. Unifying these powerful abstractions makes it easy for developers to intermix SQL commands querying external data with complex analytics, all within in a single application. 

- Spark SQL also includes a cost-based optimizer, columnar storage, and code generation to make queries fast. At the same time, it scales to thousands of nodes and multi-hour queries using the Spark engine, which provides full mid-query fault tolerance, without having to worry about using a different engine for historical data.

*Source: Databricks*

For more details, go through Spark documentation: https://spark.apache.org/docs/latest/

<br/>

# Why use Spark SQL
- Query data stored in various formats (e.g. Parquet, Hive tables) by using SQL
- Reduce amount of time spent for processing queries
- Conduct data analysis at scale
- Reduce time spent on reading documentation (e.g. Pandas documentation) for data cleaning, processing or querying and use SQL instead.

## Spark SQL: definition & facts


**Spark SQL**: Spark SQL is a Spark module for structured data processing. It provides a programming abstraction called DataFrames and can also act as distributed SQL query engine. It also provides powerful integration with the rest of the Spark ecosystem (e.g., integrating SQL query processing with machine learning).

<br/>

 **Did you know?** 

1. SQL was invented by IBM researchers Raymond Boyce and Donald Chamberlin. The programming language, known then as SEQUEL, was created following the publishing of Edgar Frank Todd's paper, "A Relational Model of Data for Large Shared Data Banks," in 1970.
<br/>
<br/>
2. There are five types of SQL Commands which can be classified as:

    - DDL(Data Definition Language).
    - DML(Data Manipulation Language).
    - DQL(Data Query Language).
    - DCL(Data Control Language).
    - TCL(Transaction Control Language).

## Prerequisite code
**Note**: Please run the cells below before any other code cell execution

Let's by mounting the Google Drive to the Colab environment. This will allow us to access the data files from the Google Drive and use it to save the output files and rest of configuration files:

In [ ]:
# Load the Drive helper and mount
from google.colab import drive

# This will prompt for authorization.
drive.mount('/content/drive')

Mounted at /content/drive

Let's remove any old installations of Spark and install the Spark 3.2.3 version:

In [ ]:
# remove old spark installations if needed
!rm -dr spark*

rm: cannot remove 'spark*': No such file or directory

The next step is to set up the environment variables for the versions of Spark and Hadoop:

In [ ]:
%env SPARK_VERSION=spark-3.2.3
%env HADOOP_VERSION=3.2
!echo $SPARK_VERSION

env: SPARK_VERSION=spark-3.2.3
env: HADOOP_VERSION=3.2
spark-3.2.3

The next step is to install the Java 8 version and Hadoop 3.2.3 version. **Notice that the Hadoop version should be the same as the Spark version**:

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop$HADOOP_VERSION.tgz
!tar xf $SPARK_VERSION-bin-hadoop$HADOOP_VERSION.tgz

Let's install the Python libraries to work with Spark like PySpark and findspark (to find the Spark installation and validate that the installation is correct):

In [ ]:
!pip install -q findspark
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 18.7 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=5b013c0c3d77e8ffdce39ba95b47d6c593aeb8725ff5ba84561d27634c26a123
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

Finally, let's set the environment variables for JAVA_HOME and SPARK_HOME file paths:

In [ ]:
import os

!echo $SPARK_VERSION
%env JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
# os.environ["SPARK_HOME"] = "/content/spark-3.2-bin-hadoop3.2"
# %env SPARK_HOME=/content/$SPARK_VERSION-bin-hadoop3.2

os.environ["SPARK_HOME"] = "/content/" + os.environ["SPARK_VERSION"] + "-bin-hadoop" + os.environ["HADOOP_VERSION"]

# !update-alternatives --set java /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java

# Print the versions
!java -version
!python --version
!echo $SPARK_HOME

spark-3.2.3
env: JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
openjdk version "11.0.17" 2022-10-18
OpenJDK Runtime Environment (build 11.0.17+8-post-Ubuntu-1ubuntu220.04)
OpenJDK 64-Bit Server VM (build 11.0.17+8-post-Ubuntu-1ubuntu220.04, mixed mode, sharing)
Python 3.8.10
/content/spark-3.2.3-bin-hadoop3.2

Once everything is set up, let's check that the installation was successful using `findspark`:

In [ ]:
import findspark
findspark.init()

Set JAVA_HOME to PATH:

In [ ]:
!ls -l

!echo $JAVA_HOME/bin
!export PATH=$PATH:$JAVA_HOME/bin
!echo $PATH

total 294092
drwx------  5 root root      4096 Feb 13 18:54 drive
drwxr-xr-x  1 root root      4096 Feb 10 14:33 sample_data
drwxr-xr-x 13  501 1000      4096 Nov 14 17:54 spark-3.2.3-bin-hadoop3.2
-rw-r--r--  1 root root 301136158 Nov 14 18:47 spark-3.2.3-bin-hadoop3.2.tgz
/usr/lib/jvm/java-8-openjdk-amd64/bin
/opt/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin

Since we are going to be reading files from S3, we need to install the AWS CLI and configure it with the AWS credentials. Then, we install `s3fs` to mount our S3 Bucket as a filesystem that Pandas can read from:

In [ ]:
!pip install awscli

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting awscli
  Downloading awscli-1.27.69-py3-none-any.whl (4.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.0/4.0 MB 34.8 MB/s eta 0:00:00
Collecting PyYAML<5.5,>=3.10
  Downloading PyYAML-5.4.1-cp38-cp38-manylinux1_x86_64.whl (662 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 662.4/662.4 KB 51.4 MB/s eta 0:00:00
Collecting colorama<0.4.5,>=0.2.5
  Downloading colorama-0.4.4-py2.py3-none-any.whl (16 kB)
Collecting rsa<4.8,>=3.1.2
  Downloading rsa-4.7.2-py3-none-any.whl (34 kB)
Collecting s3transfer<0.7.0,>=0.6.0
  Downloading s3transfer-0.6.0-py3-none-any.whl (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.6/79.6 KB 5.5 MB/s eta 0:00:00
Requirement already satisfied: docutils<0.17,>=0.10 in /usr/local/lib/python3.8/dist-packages (from awscli) (0.16)
Collecting botocore==1.29.69
  Downloading botocore-1.29.69-py3-none-any.whl (10.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.4/10.4 MB 50.9 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.8/dist-packages (from botocore==1.29.69->awscli) (2.8.2)
Collecting urllib3<1.27,>=1.25.4
  Downloading urllib3-1.26.14-py2.py3-none-any.whl (140 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 140.6/140.6 KB 13.4 MB/s eta 0:00:00
Collecting jmespath<2.0.0,>=0.7.1
  Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/local/lib/python3.8/dist-packages (from rsa<4.8,>=3.1.2->awscli) (0.4.8)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore==1.29.69->awscli) (1.15.0)
Installing collected packages: urllib3, rsa, PyYAML, jmespath, colorama, botocore, s3transfer, awscli
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
  Attempting uninstall: rsa
    Found existing installation: rsa 4.9
    Uninstalling rsa-4.9:
      Successfully uninstalled rsa-4.9
  Attempting uninstall: PyYAML
    Found existing installation: PyYAML 6.0
    Uninstalling PyYAML-6.0:
      Successfully uninstalled PyYAML-6.0
Successfully installed PyYAML-5.4.1 awscli-1.27.69 botocore-1.29.69 colorama-0.4.4 jmespath-1.0.1 rsa-4.7.2 s3transfer-0.6.0 urllib3-1.26.14

In [ ]:
!aws configure set aws_access_key_id your_access_key
!aws configure set aws_secret_access_key your_access_secret_key

In [ ]:
!pip install s3fs

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting s3fs
  Downloading s3fs-2023.1.0-py3-none-any.whl (27 kB)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /usr/local/lib/python3.8/dist-packages (from s3fs) (3.8.3)
Collecting aiobotocore~=2.4.2
  Downloading aiobotocore-2.4.2-py3-none-any.whl (66 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 66.8/66.8 KB 3.9 MB/s eta 0:00:00
Requirement already satisfied: fsspec==2023.1.0 in /usr/local/lib/python3.8/dist-packages (from s3fs) (2023.1.0)
Requirement already satisfied: wrapt>=1.10.10 in /usr/local/lib/python3.8/dist-packages (from aiobotocore~=2.4.2->s3fs) (1.14.1)
Collecting aioitertools>=0.5.1
  Downloading aioitertools-0.11.0-py3-none-any.whl (23 kB)
Collecting botocore<1.27.60,>=1.27.59
  Downloading botocore-1.27.59-py3-none-any.whl (9.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.1/9.1 MB 48.8 MB/s eta 0:00:00
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.8/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (1.3.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.8/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (1.8.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (22.2.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.8/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (4.0.2)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (2.1.1)
Requirement already satisfied: typing_extensions>=4.0 in /usr/local/lib/python3.8/dist-packages (from aioitertools>=0.5.1->aiobotocore~=2.4.2->s3fs) (4.4.0)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /usr/local/lib/python3.8/dist-packages (from botocore<1.27.60,>=1.27.59->aiobotocore~=2.4.2->s3fs) (1.0.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.8/dist-packages (from botocore<1.27.60,>=1.27.59->aiobotocore~=2.4.2->s3fs) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/local/lib/python3.8/dist-packages (from botocore<1.27.60,>=1.27.59->aiobotocore~=2.4.2->s3fs) (1.26.14)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.8/dist-packages (from yarl<2.0,>=1.0->aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (2.10)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.27.60,>=1.27.59->aiobotocore~=2.4.2->s3fs) (1.15.0)
Installing collected packages: aioitertools, botocore, aiobotocore, s3fs
  Attempting uninstall: botocore
    Found existing installation: botocore 1.29.69
    Uninstalling botocore-1.29.69:
      Successfully uninstalled botocore-1.29.69
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
awscli 1.27.69 requires botocore==1.29.69, but you have botocore 1.27.59 which is incompatible.
Successfully installed aiobotocore-2.4.2 aioitertools-0.11.0 botocore-1.27.59 s3fs-2023.1.0

# Settting up the Spark session

We are going to be using the `SparkSession`. **The Spark session is the entry point to the Spark environment**. If we want access to the Spark SQL functionality, we need to create a Spark session. The Spark session is built on top of the `Spark context`. The Spark context is the entry point to the Spark cluster. The Spark session is built on top of the Spark context.

We are going only to need to use the Spark session to read the data from S3 and write the output files to S3. Spark Context will be used internally by the Spark session and you don't need to worry about it.

In [ ]:
from pyspark.sql import SparkSession

def get_spark(ACCESS_KEY=None, SECRET_KEY=None, TOKEN=None):
    spark = SparkSession.builder.master("local[4]").appName('SparkDelta') \
        .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
        .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
        .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
        .config("spark.jars.packages", 
                "io.delta:delta-core_2.12:1.1.0,"
                "org.apache.hadoop:hadoop-aws:3.2.3,"
                "com.amazonaws:aws-java-sdk-bundle:1.12.180") \
        .getOrCreate()

    # This is mandate config on spark session to use AWS S3
    spark._jsc.hadoopConfiguration().set("com.amazonaws.services.s3.enableV4", "true")
    spark._jsc.hadoopConfiguration().set("fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem")

    # If we want to use AWSCLI credentials provider:
    spark._jsc.hadoopConfiguration().set("fs.s3a.aws.credentials.provider","com.amazonaws.auth.InstanceProfileCredentialsProvider,com.amazonaws.auth.DefaultAWSCredentialsProviderChain")

    # If we are using temporary sessions:
    # spark._jsc.hadoopConfiguration().set('fs.s3a.access.key', ACCESS_KEY)
    # spark._jsc.hadoopConfiguration().set('fs.s3a.secret.key', SECRET_KEY)
    # spark._jsc.hadoopConfiguration().set("fs.s3a.session.token", TOKEN)
    # spark._jsc.hadoopConfiguration().set('fs.s3a.aws.credentials.provider', 'org.apache.hadoop.fs.s3a.TemporaryAWSCredentialsProvider')
    spark._jsc.hadoopConfiguration().set("fs.AbstractFileSystem.s3a.impl", "org.apache.hadoop.fs.s3a.S3A")
    # spark.sparkContext.setLogLevel("DEBUG")
        
    return spark

If you notice in the previous code cell, we have already imported the `SparkSession` from the `pyspark.sql` module. We are going to use the `SparkSession.builder` to create the Spark session. 

We are going to set the `appName` to `SparkDelta` and the `master` to `local[*]` (this will run the Spark session in the local machine). 

We are also going to set the `config` for the AWS S3 connector. We are going to set the `spark.jars.packages` to `org.apache.hadoop:hadoop-aws:3.2.3` **(this version of the connector should match the version of Spark that we are using)**. 

We have the option to set the `spark.hadoop.fs.s3a.access.key` and `spark.hadoop.fs.s3a.secret.key` to the AWS credentials that we configured in the previous code cell. However, we are using `AWSCLI` credentials provider chain to handle the storing of credentials. This means that we don't need to set the AWS credentials in the Spark session.

Finally, we are going to call the `getOrCreate()` method to create the Spark session. After that, we are passing some `hadoopConfiguration` to the Spark session. This is to make sure that the Spark session is using the AWS CLI credentials provider chain to handle the storing of credentials and using `fs.s3a.impl` to use the S3A file system implementation in order that we can read the files from S3 as a file system.

In [ ]:
# Let's create a spark session
spark = get_spark()

print(spark)
spark.version

<pyspark.sql.session.SparkSession object at 0x7f14b4524fd0>

'3.2.3'

## Running SQL queries programatically

The nex code examples are based on the San Francisco Bike Sharing dataset where possible. The dataset has been uploaded to our S3 bucket, but you can get the files from kaggle as well: [https://www.kaggle.com/datasets/benhamner/sf-bay-area-bike-share](https://www.kaggle.com/datasets/benhamner/sf-bay-area-bike-share)

In [ ]:
# Create a Dataframe based on your dataset.Here, we will use the SF Bike Sharing trip dataset.
trip_df = spark.read.csv("s3a://msin0166-spark-workshop/data/sf_bike_sharing_data/trip.csv", header=True)

In [ ]:
trip_df.show()

+----+--------+---------------+--------------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+
|  id|duration|     start_date|  start_station_name|start_station_id|       end_date|    end_station_name|end_station_id|bike_id|subscription_type|zip_code|
+----+--------+---------------+--------------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+
|4576|      63|8/29/2013 14:13|South Van Ness at...|              66|8/29/2013 14:14|South Van Ness at...|            66|    520|       Subscriber|   94127|
|4607|      70|8/29/2013 14:42|  San Jose City Hall|              10|8/29/2013 14:43|  San Jose City Hall|            10|    661|       Subscriber|   95138|
|4130|      71|8/29/2013 10:16|Mountain View Cit...|              27|8/29/2013 10:17|Mountain View Cit...|            27|     48|       Subscriber|   97214|
|4251|      77|8/29/2013 11:29|  San Jose City Hall|              10|8/29/2013 11:30|  San Jose City Hall|            10|     26|       Subscriber|   95060|
|4299|      83|8/29/2013 12:02|South Van Ness at...|              66|8/29/2013 12:04|      Market at 10th|            67|    319|       Subscriber|   94103|
|4927|     103|8/29/2013 18:54| Golden Gate at Polk|              59|8/29/2013 18:56| Golden Gate at Polk|            59|    527|       Subscriber|   94109|
|4500|     109|8/29/2013 13:25|Santa Clara at Al...|               4|8/29/2013 13:27|    Adobe on Almaden|             5|    679|       Subscriber|   95112|
|4563|     111|8/29/2013 14:02| San Salvador at 1st|               8|8/29/2013 14:04| San Salvador at 1st|             8|    687|       Subscriber|   95112|
|4760|     113|8/29/2013 17:01|South Van Ness at...|              66|8/29/2013 17:03|South Van Ness at...|            66|    553|       Subscriber|   94103|
|4258|     114|8/29/2013 11:33|  San Jose City Hall|              10|8/29/2013 11:35|         MLK Library|            11|    107|       Subscriber|   95060|
|4549|     125|8/29/2013 13:52|     Spear at Folsom|              49|8/29/2013 13:55|Embarcadero at Br...|            54|    368|       Subscriber|   94109|
|4498|     126|8/29/2013 13:23|    San Pedro Square|               6|8/29/2013 13:25|Santa Clara at Al...|             4|     26|       Subscriber|   95112|
|4965|     129|8/29/2013 19:32|Mountain View Cal...|              28|8/29/2013 19:35|Mountain View Cal...|            28|    140|       Subscriber|   94041|
|4557|     130|8/29/2013 13:57|   2nd at South Park|              64|8/29/2013 13:59|   2nd at South Park|            64|    371|       Subscriber|   94122|
|4386|     134|8/29/2013 12:31|     Clay at Battery|              41|8/29/2013 12:33|     Beale at Market|            56|    503|       Subscriber|   94109|
|4749|     138|8/29/2013 16:57|     Post at Kearney|              47|8/29/2013 16:59|     Post at Kearney|            47|    408|       Subscriber|   94117|
|4242|     141|8/29/2013 11:25|  San Jose City Hall|              10|8/29/2013 11:27|  San Jose City Hall|            10|     26|       Subscriber|   95060|
|4329|     142|8/29/2013 12:11|      Market at 10th|              67|8/29/2013 12:14|      Market at 10th|            67|    319|       Subscriber|   94103|
|5097|     142|8/29/2013 22:21|   Steuart at Market|              74|8/29/2013 22:24|Harry Bridges Pla...|            50|    564|       Subscriber|   94115|
|5084|     144|8/29/2013 22:06|  Powell Street BART|              39|8/29/2013 22:08|       Market at 4th|            76|    574|       Subscriber|   94115|
+----+--------+---------------+--------------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+
only showing top 20 rows

In [ ]:
# Create a SQL temporary view (more below)
trip_df.createOrReplaceTempView("trip")

In [ ]:
#Query the temporary table
sqlDF = spark.sql("SELECT * FROM trip where duration < 70")
sqlDF.show()

+-----+--------+---------------+--------------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+
|   id|duration|     start_date|  start_station_name|start_station_id|       end_date|    end_station_name|end_station_id|bike_id|subscription_type|zip_code|
+-----+--------+---------------+--------------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+
| 4576|      63|8/29/2013 14:13|South Van Ness at...|              66|8/29/2013 14:14|South Van Ness at...|            66|    520|       Subscriber|   94127|
| 6115|      69|8/30/2013 16:30|       2nd at Folsom|              62|8/30/2013 16:31|       2nd at Folsom|            62|    633|       Subscriber|   94107|
| 7416|      62|8/31/2013 20:52|Embarcadero at Sa...|              60|8/31/2013 20:53|Embarcadero at Sa...|            60|    511|         Customer|    null|
| 7250|      68|8/31/2013 16:53|University and Em...|              35|8/31/2013 16:54|University and Em...|            35|    100|       Subscriber|   97214|
| 7403|      69|8/31/2013 19:58|Embarcadero at Sa...|              60|8/31/2013 19:59|Embarcadero at Sa...|            60|    332|         Customer|   94105|
| 8576|      60|  9/2/2013 9:40|Harry Bridges Pla...|              50|  9/2/2013 9:41|Harry Bridges Pla...|            50|    354|       Subscriber|   94102|
| 8651|      60| 9/2/2013 10:50|San Francisco Cal...|              69| 9/2/2013 10:51|San Francisco Cal...|            69|    544|       Subscriber|   94107|
| 8968|      61| 9/2/2013 14:25|Powell at Post (U...|              71| 9/2/2013 14:26|Powell at Post (U...|            71|    434|       Subscriber|   94108|
| 9444|      60|  9/3/2013 8:37|Redwood City Publ...|              24|  9/3/2013 8:38|Redwood City Publ...|            24|    239|       Subscriber|   94105|
|10093|      67| 9/3/2013 18:06|South Van Ness at...|              66| 9/3/2013 18:07|South Van Ness at...|            66|    610|       Subscriber|   94117|
|10118|      63| 9/3/2013 18:25|   Market at Sansome|              77| 9/3/2013 18:26|   Market at Sansome|            77|    367|         Customer|    null|
|11847|      64| 9/5/2013 18:38|     Beale at Market|              56| 9/5/2013 18:39|     Beale at Market|            56|    353|       Subscriber|   94605|
|12073|      68|  9/6/2013 8:05|           Japantown|               9|  9/6/2013 8:06|           Japantown|             9|     80|       Subscriber|   95112|
|12355|      61| 9/6/2013 12:33|Redwood City Medi...|              26| 9/6/2013 12:34|Redwood City Medi...|            26|    308|       Subscriber|   94105|
|13323|      67| 9/7/2013 10:49|Embarcadero at Br...|              54| 9/7/2013 10:51|Embarcadero at Br...|            54|    508|       Subscriber|   94107|
|14644|      60| 9/8/2013 13:55|San Francisco Cal...|              70| 9/8/2013 13:56|San Francisco Cal...|            70|    521|       Subscriber|   95126|
|14761|      65| 9/8/2013 15:16|Embarcadero at Br...|              54| 9/8/2013 15:17|Embarcadero at Br...|            54|    625|       Subscriber|   94111|
|15484|      65| 9/9/2013 12:17|Harry Bridges Pla...|              50| 9/9/2013 12:18|Harry Bridges Pla...|            50|    555|       Subscriber|   94601|
|16663|      64|9/10/2013 13:30|South Van Ness at...|              66|9/10/2013 13:31|South Van Ness at...|            66|    630|       Subscriber|   94102|
|16991|      61|9/10/2013 17:39|     Spear at Folsom|              49|9/10/2013 17:40|     Spear at Folsom|            49|    520|       Subscriber|   94124|
+-----+--------+---------------+--------------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+
only showing top 20 rows

In [ ]:
subscribers=spark.sql("SELECT * FROM trip where subscription_type==\"Subscriber\"")
subscribers.show()

+----+--------+---------------+--------------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+
|  id|duration|     start_date|  start_station_name|start_station_id|       end_date|    end_station_name|end_station_id|bike_id|subscription_type|zip_code|
+----+--------+---------------+--------------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+
|4576|      63|8/29/2013 14:13|South Van Ness at...|              66|8/29/2013 14:14|South Van Ness at...|            66|    520|       Subscriber|   94127|
|4607|      70|8/29/2013 14:42|  San Jose City Hall|              10|8/29/2013 14:43|  San Jose City Hall|            10|    661|       Subscriber|   95138|
|4130|      71|8/29/2013 10:16|Mountain View Cit...|              27|8/29/2013 10:17|Mountain View Cit...|            27|     48|       Subscriber|   97214|
|4251|      77|8/29/2013 11:29|  San Jose City Hall|              10|8/29/2013 11:30|  San Jose City Hall|            10|     26|       Subscriber|   95060|
|4299|      83|8/29/2013 12:02|South Van Ness at...|              66|8/29/2013 12:04|      Market at 10th|            67|    319|       Subscriber|   94103|
|4927|     103|8/29/2013 18:54| Golden Gate at Polk|              59|8/29/2013 18:56| Golden Gate at Polk|            59|    527|       Subscriber|   94109|
|4500|     109|8/29/2013 13:25|Santa Clara at Al...|               4|8/29/2013 13:27|    Adobe on Almaden|             5|    679|       Subscriber|   95112|
|4563|     111|8/29/2013 14:02| San Salvador at 1st|               8|8/29/2013 14:04| San Salvador at 1st|             8|    687|       Subscriber|   95112|
|4760|     113|8/29/2013 17:01|South Van Ness at...|              66|8/29/2013 17:03|South Van Ness at...|            66|    553|       Subscriber|   94103|
|4258|     114|8/29/2013 11:33|  San Jose City Hall|              10|8/29/2013 11:35|         MLK Library|            11|    107|       Subscriber|   95060|
|4549|     125|8/29/2013 13:52|     Spear at Folsom|              49|8/29/2013 13:55|Embarcadero at Br...|            54|    368|       Subscriber|   94109|
|4498|     126|8/29/2013 13:23|    San Pedro Square|               6|8/29/2013 13:25|Santa Clara at Al...|             4|     26|       Subscriber|   95112|
|4965|     129|8/29/2013 19:32|Mountain View Cal...|              28|8/29/2013 19:35|Mountain View Cal...|            28|    140|       Subscriber|   94041|
|4557|     130|8/29/2013 13:57|   2nd at South Park|              64|8/29/2013 13:59|   2nd at South Park|            64|    371|       Subscriber|   94122|
|4386|     134|8/29/2013 12:31|     Clay at Battery|              41|8/29/2013 12:33|     Beale at Market|            56|    503|       Subscriber|   94109|
|4749|     138|8/29/2013 16:57|     Post at Kearney|              47|8/29/2013 16:59|     Post at Kearney|            47|    408|       Subscriber|   94117|
|4242|     141|8/29/2013 11:25|  San Jose City Hall|              10|8/29/2013 11:27|  San Jose City Hall|            10|     26|       Subscriber|   95060|
|4329|     142|8/29/2013 12:11|      Market at 10th|              67|8/29/2013 12:14|      Market at 10th|            67|    319|       Subscriber|   94103|
|5097|     142|8/29/2013 22:21|   Steuart at Market|              74|8/29/2013 22:24|Harry Bridges Pla...|            50|    564|       Subscriber|   94115|
|5084|     144|8/29/2013 22:06|  Powell Street BART|              39|8/29/2013 22:08|       Market at 4th|            76|    574|       Subscriber|   94115|
+----+--------+---------------+--------------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+
only showing top 20 rows

In [ ]:
#Count the number of subscribers
subscribers.count()

566746

## Global temporary view 

Temporary views in Spark SQL are session-scoped and will disappear if the session that creates it terminates. If you want to have a temporary view that is shared among all sessions and keep alive until the Spark application terminates, you can create a global temporary view. Global temporary view is tied to a system preserved database global_temp, and we must use the qualified name to refer it, e.g. SELECT * FROM global_temp.view1.
<br/>
<br/>
Source: Apache Spark documentation
https://spark.apache.org/docs/latest/sql-getting-started.html#global-temporary-view

In [ ]:
#Executing a query against the newly created Subscribers dataset will trigger an error.
spark.sql("SELECT * FROM subscribers where duration < 70")

AnalysisException: ignored

<img src="https://media.tenor.com/images/a1343b4e30eeca94b3edf232a767bd31/tenor.gif"/>

In [ ]:
# Create a temporary view of subscribers that can be further queried
subscribers.createOrReplaceTempView("subscribers")

In [ ]:
#We can now query the Subscribers table
spark.sql("SELECT * FROM subscribers WHERE start_station_name LIKE \"San Jose%\" ").show()

+----+--------+---------------+--------------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+
|  id|duration|     start_date|  start_station_name|start_station_id|       end_date|    end_station_name|end_station_id|bike_id|subscription_type|zip_code|
+----+--------+---------------+--------------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+
|4607|      70|8/29/2013 14:42|  San Jose City Hall|              10|8/29/2013 14:43|  San Jose City Hall|            10|    661|       Subscriber|   95138|
|4251|      77|8/29/2013 11:29|  San Jose City Hall|              10|8/29/2013 11:30|  San Jose City Hall|            10|     26|       Subscriber|   95060|
|4258|     114|8/29/2013 11:33|  San Jose City Hall|              10|8/29/2013 11:35|         MLK Library|            11|    107|       Subscriber|   95060|
|4242|     141|8/29/2013 11:25|  San Jose City Hall|              10|8/29/2013 11:27|  San Jose City Hall|            10|     26|       Subscriber|   95060|
|4510|     166|8/29/2013 13:31|San Jose Civic Ce...|               3|8/29/2013 13:34| San Salvador at 1st|             8|    661|       Subscriber|   95112|
|4606|     191|8/29/2013 14:38|  San Jose City Hall|              10|8/29/2013 14:42|  San Jose City Hall|            10|     35|       Subscriber|   95138|
|4822|     343|8/29/2013 17:37|  San Jose City Hall|              10|8/29/2013 17:43|    San Pedro Square|             6|    196|       Subscriber|   95138|
|4204|     378|8/29/2013 11:06|  San Jose City Hall|              10|8/29/2013 11:13|  San Jose City Hall|            10|     28|       Subscriber|   95136|
|5099|     387|8/29/2013 22:35|San Jose Civic Ce...|               3|8/29/2013 22:41|San Jose Diridon ...|             2|    675|       Subscriber|   95126|
|4347|     389|8/29/2013 12:15|  San Jose City Hall|              10|8/29/2013 12:21|    San Pedro Square|             6|    146|       Subscriber|   95112|
|4958|     454|8/29/2013 19:18|San Jose Diridon ...|               2|8/29/2013 19:25|Paseo de San Antonio|             7|     91|       Subscriber|   95126|
|5085|     573|8/29/2013 22:06|San Jose Civic Ce...|               3|8/29/2013 22:16|       St James Park|            13|    639|       Subscriber|   95112|
|5086|     587|8/29/2013 22:06|San Jose Civic Ce...|               3|8/29/2013 22:16|       St James Park|            13|    655|       Subscriber|   95112|
|4874|     704|8/29/2013 18:07|San Jose Civic Ce...|               3|8/29/2013 18:19| San Salvador at 1st|             8|    671|       Subscriber|   94116|
|4997|     841|8/29/2013 19:57|San Jose Diridon ...|               2|8/29/2013 20:11|  San Jose City Hall|            10|     58|       Subscriber|   95112|
|5038|     994|8/29/2013 20:36|San Jose Diridon ...|               2|8/29/2013 20:53|SJSU 4th at San C...|            12|     91|       Subscriber|   95126|
|4160|    1271|8/29/2013 10:42|  San Jose City Hall|              10|8/29/2013 11:03|  San Jose City Hall|            10|    680|       Subscriber|   95112|
|4164|    1276|8/29/2013 10:47|  San Jose City Hall|              10|8/29/2013 11:09|  San Jose City Hall|            10|     30|       Subscriber|   95060|
|5349|      76|8/30/2013 10:56|  San Jose City Hall|              10|8/30/2013 10:57|         MLK Library|            11|     28|       Subscriber|   95112|
|6326|     289|8/30/2013 18:38|San Jose Diridon ...|               2|8/30/2013 18:43|San Jose Diridon ...|             2|     23|       Subscriber|   95126|
+----+--------+---------------+--------------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+
only showing top 20 rows

## Reading multiple types: 

Spark SQL supports reading the following formats:
- CSV
- JSON
- Avro
- Parquet
- Hive tables
- ORC tables

It can also create a JDBC connection to existing databases.

For more details, please read the Spark documentation
https://spark.apache.org/docs/2.2.0/sql-programming-guide.html#data-sources

## Spark SQL architecture

<img src="https://d1jnx9ba8s6j9r.cloudfront.net/blog/wp-content/uploads/2016/12/Spark-SQL-Architecture-Spark-SQL-Edureka-1.png"/>

**Source** : Edureka

For a better understanding of Spark SQL, read this article: https://www.edureka.co/blog/spark-sql-tutorial/

# Inferring schema

Spark SQL can convert an RDD of Row objects to a DataFrame, inferring the datatypes. Rows are constructed by passing a list of key/value pairs as kwargs to the Row class. The keys of this list define the column names of the table, and the types are inferred by sampling the whole dataset, similar to the inference that is performed on JSON files.

A practical example can be found here: https://spark.apache.org/docs/2.3.0/sql-programming-guide.html#inferring-the-schema-using-reflection

## Bucketing, Sorting and Partitioning

For file-based data source, it is also possible to bucket and sort or partition the output. Bucketing and sorting are applicable only to persistent tables

The bucket by command allows you to sort the rows of Spark SQL table by a certain column. If you then cache the sorted table, you can make subsequent joins faster.

Bucketing is an optimization technique in Spark SQL that uses buckets and bucketing columns to determine data partitioning. When applied properly bucketing can lead to join optimizations by avoiding shuffles (aka exchanges) of tables participating in the join. The talk will give you the necessary information so you can use bucketing to optimize Spark SQL structured queries.

Source: https://spark.apache.org/docs/latest/sql-data-sources-load-save-functions.html#bucketing-sorting-and-partitioning

In [ ]:
# Bucketing and sorting - Split the data into 42 buckets by the start station name column
subscribers.write.bucketBy(42, "start_station_name").sortBy("duration").saveAsTable("bucketed_subscribers")

In [ ]:
# We can now query the bucketed table
from time import time
start_time=time()
spark.sql("SELECT * FROM bucketed_subscribers LIMIT 10").show()
end_time=time()

+------+--------+---------------+------------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+
|    id|duration|     start_date|start_station_name|start_station_id|       end_date|    end_station_name|end_station_id|bike_id|subscription_type|zip_code|
+------+--------+---------------+------------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+
|382320|     100| 7/28/2014 7:03|   Beale at Market|              56| 7/28/2014 7:04|Temporary Transba...|            55|    417|       Subscriber|   94112|
|359590|     100| 7/11/2014 9:32|   Beale at Market|              56| 7/11/2014 9:34|Temporary Transba...|            55|    563|       Subscriber|   94105|
|339009|     100|6/25/2014 14:04|    Post at Kearny|              47|6/25/2014 14:06|   Market at Sansome|            77|    334|       Subscriber|   94105|
|308155|     100|  6/3/2014 7:47|   Beale at Market|              56|  6/3/2014 7:48|   Steuart at Market|            74|    569|       Subscriber|   94105|
|280910|     100|5/12/2014 16:48|   Beale at Market|              56|5/12/2014 16:50|Temporary Transba...|            55|    601|       Subscriber|   94602|
|266173|     100| 4/30/2014 8:57|   Beale at Market|              56| 4/30/2014 8:58|Temporary Transba...|            55|    562|       Subscriber|   94114|
|259887|     100|4/24/2014 10:05|   Beale at Market|              56|4/24/2014 10:07|Temporary Transba...|            55|    608|       Subscriber|   94105|
|235201|     100| 4/3/2014 10:02|   Beale at Market|              56| 4/3/2014 10:03|Temporary Transba...|            55|    405|       Subscriber|   94105|
|219647|     100|3/19/2014 10:20|   Beale at Market|              56|3/19/2014 10:21|Temporary Transba...|            55|    579|       Subscriber|   94122|
|212677|     100|3/13/2014 13:56|   Beale at Market|              56|3/13/2014 13:58|Temporary Transba...|            55|    339|       Subscriber|   94110|
+------+--------+---------------+------------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+

In [ ]:
print("Time spent to query bucketed table: ",end_time - start_time)

Time spent to query bucketed table:  0.6009030342102051

In [ ]:
start_time_unbucketed=time()
spark.sql("SELECT * FROM subscribers LIMIT 10").show()
end_time_unbucketed=time()

+----+--------+---------------+--------------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+
|  id|duration|     start_date|  start_station_name|start_station_id|       end_date|    end_station_name|end_station_id|bike_id|subscription_type|zip_code|
+----+--------+---------------+--------------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+
|4576|      63|8/29/2013 14:13|South Van Ness at...|              66|8/29/2013 14:14|South Van Ness at...|            66|    520|       Subscriber|   94127|
|4607|      70|8/29/2013 14:42|  San Jose City Hall|              10|8/29/2013 14:43|  San Jose City Hall|            10|    661|       Subscriber|   95138|
|4130|      71|8/29/2013 10:16|Mountain View Cit...|              27|8/29/2013 10:17|Mountain View Cit...|            27|     48|       Subscriber|   97214|
|4251|      77|8/29/2013 11:29|  San Jose City Hall|              10|8/29/2013 11:30|  San Jose City Hall|            10|     26|       Subscriber|   95060|
|4299|      83|8/29/2013 12:02|South Van Ness at...|              66|8/29/2013 12:04|      Market at 10th|            67|    319|       Subscriber|   94103|
|4927|     103|8/29/2013 18:54| Golden Gate at Polk|              59|8/29/2013 18:56| Golden Gate at Polk|            59|    527|       Subscriber|   94109|
|4500|     109|8/29/2013 13:25|Santa Clara at Al...|               4|8/29/2013 13:27|    Adobe on Almaden|             5|    679|       Subscriber|   95112|
|4563|     111|8/29/2013 14:02| San Salvador at 1st|               8|8/29/2013 14:04| San Salvador at 1st|             8|    687|       Subscriber|   95112|
|4760|     113|8/29/2013 17:01|South Van Ness at...|              66|8/29/2013 17:03|South Van Ness at...|            66|    553|       Subscriber|   94103|
|4258|     114|8/29/2013 11:33|  San Jose City Hall|              10|8/29/2013 11:35|         MLK Library|            11|    107|       Subscriber|   95060|
+----+--------+---------------+--------------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+

In [ ]:
print("Time spent to query unbucketed table: ", end_time_unbucketed - start_time_unbucketed)

Time spent to query unbucketed table:  0.692385196685791

## Partitioning

In [ ]:
#We partition the data by start_station_name and store it in a Parquet format - More on Parquet files later. For a better understanding, read the documentation.
subscribers.write.partitionBy("start_station_name").format("parquet").save("subscribers.parquet")

In [ ]:
#We will now read the data
subscribers_in_parquet_format=spark.read.parquet("subscribers.parquet")
subscribers_in_parquet_format.show()

+------+--------+---------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+--------------------+
|    id|duration|     start_date|start_station_id|       end_date|    end_station_name|end_station_id|bike_id|subscription_type|zip_code|  start_station_name|
+------+--------+---------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+--------------------+
|386032|     544| 7/30/2014 7:22|              70| 7/30/2014 7:31|Embarcadero at Fo...|            51|    571|       Subscriber|   94303|San Francisco Cal...|
|386029|     602| 7/30/2014 7:21|              70| 7/30/2014 7:31|Embarcadero at Fo...|            51|    634|       Subscriber|   94062|San Francisco Cal...|
|386028|     807| 7/30/2014 7:20|              70| 7/30/2014 7:33|     Clay at Battery|            41|    260|       Subscriber|   94025|San Francisco Cal...|
|386024|     665| 7/30/2014 7:12|              70| 7/30/2014 7:24|       5th at Howard|            57|    536|       Subscriber|   94158|San Francisco Cal...|
|386005|     690| 7/30/2014 7:04|              70| 7/30/2014 7:15|       Market at 4th|            76|    314|       Subscriber|   94062|San Francisco Cal...|
|386003|     899| 7/30/2014 7:03|              70| 7/30/2014 7:18|     Clay at Battery|            41|    554|       Subscriber|   94402|San Francisco Cal...|
|386002|     742| 7/30/2014 7:03|              70| 7/30/2014 7:15|South Van Ness at...|            66|    401|       Subscriber|   94061|San Francisco Cal...|
|385961|     964| 7/30/2014 6:41|              70| 7/30/2014 6:57|   Steuart at Market|            74|    467|       Subscriber|   94070|San Francisco Cal...|
|385960|     746| 7/30/2014 6:40|              70| 7/30/2014 6:52|Temporary Transba...|            55|    487|       Subscriber|   94030|San Francisco Cal...|
|385959|     463| 7/30/2014 6:40|              70| 7/30/2014 6:47|Embarcadero at Fo...|            51|    619|       Subscriber|   95124|San Francisco Cal...|
|385947|     569| 7/30/2014 6:35|              70| 7/30/2014 6:44|   Market at Sansome|            77|    425|       Subscriber|   94010|San Francisco Cal...|
|385946|     659| 7/30/2014 6:35|              70| 7/30/2014 6:46|Temporary Transba...|            55|    276|       Subscriber|   94002|San Francisco Cal...|
|385927|     702| 7/30/2014 0:01|              70| 7/30/2014 0:13|    Davis at Jackson|            42|    596|       Subscriber|   94111|San Francisco Cal...|
|385894|     705|7/29/2014 22:04|              70|7/29/2014 22:16|Grant Avenue at C...|            73|    611|       Subscriber|   94133|San Francisco Cal...|
|385780|     266|7/29/2014 20:03|              70|7/29/2014 20:08|     Townsend at 7th|            65|    631|       Subscriber|   94107|San Francisco Cal...|
|385749|     347|7/29/2014 19:41|              70|7/29/2014 19:47|Embarcadero at Br...|            54|    494|       Subscriber|   94105|San Francisco Cal...|
|385743|    1321|7/29/2014 19:39|              70|7/29/2014 20:01|Embarcadero at Br...|            54|    705|       Subscriber|   94107|San Francisco Cal...|
|385737|    1571|7/29/2014 19:32|              70|7/29/2014 19:58|San Francisco Cal...|            70|    467|       Subscriber|   94107|San Francisco Cal...|
|385735|     477|7/29/2014 19:31|              70|7/29/2014 19:39|Embarcadero at Br...|            54|    330|       Subscriber|   94103|San Francisco Cal...|
|385705|     750|7/29/2014 19:10|              70|7/29/2014 19:23|Broadway St at Ba...|            82|    437|       Subscriber|   94133|San Francisco Cal...|
+------+--------+---------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+--------------------+
only showing top 20 rows

In [ ]:
#Reading a partition from the parquet file
davis_at_jackson_subscribers=spark.read.parquet("subscribers.parquet/start_station_name=Davis at Jackson")
davis_at_jackson_subscribers.show()

+------+--------+---------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+
|    id|duration|     start_date|start_station_id|       end_date|    end_station_name|end_station_id|bike_id|subscription_type|zip_code|
+------+--------+---------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+
|386045|     215| 7/30/2014 7:28|              42| 7/30/2014 7:31|Commercial at Mon...|            45|    448|       Subscriber|   94111|
|385974|    1419| 7/30/2014 6:49|              42| 7/30/2014 7:13|    Davis at Jackson|            42|    321|       Subscriber|   94111|
|385930|     220| 7/30/2014 1:43|              42| 7/30/2014 1:47|Washington at Kearny|            46|    134|       Subscriber|   94108|
|385673|     382|7/29/2014 18:56|              42|7/29/2014 19:03|Temporary Transba...|            55|    504|       Subscriber|   94602|
|385664|     197|7/29/2014 18:52|              42|7/29/2014 18:56|     Beale at Market|            56|    651|       Subscriber|   94609|
|385658|    1134|7/29/2014 18:51|              42|7/29/2014 19:10|     2nd at Townsend|            61|    587|       Subscriber|   94065|
|385630|     647|7/29/2014 18:44|              42|7/29/2014 18:55|Powell at Post (U...|            71|    569|       Subscriber|   94109|
|385546|     972|7/29/2014 18:13|              42|7/29/2014 18:29|San Francisco Cal...|            70|    496|       Subscriber|   95129|
|385222|     941|7/29/2014 16:47|              42|7/29/2014 17:03|San Francisco Cal...|            70|    557|       Subscriber|   95125|
|385127|    1008|7/29/2014 16:09|              42|7/29/2014 16:26|San Francisco Cal...|            70|    309|       Subscriber|   94085|
|384968|     509|7/29/2014 13:38|              42|7/29/2014 13:46|       Market at 4th|            76|    466|       Subscriber|   94123|
|384858|     953|7/29/2014 12:02|              42|7/29/2014 12:18|       5th at Howard|            57|    481|       Subscriber|   95125|
|384676|     241| 7/29/2014 9:38|              42| 7/29/2014 9:42|Embarcadero at Fo...|            51|    618|       Subscriber|   94105|
|384623|     699| 7/29/2014 9:23|              42| 7/29/2014 9:34|     2nd at Townsend|            61|    324|       Subscriber|   94111|
|384614|    1215| 7/29/2014 9:22|              42| 7/29/2014 9:42|Harry Bridges Pla...|            50|    443|       Subscriber|   94111|
|384446|     986| 7/29/2014 8:38|              42| 7/29/2014 8:54|San Francisco Cal...|            70|    431|       Subscriber|   94111|
|384421|     142| 7/29/2014 8:32|              42| 7/29/2014 8:34|Broadway St at Ba...|            82|    238|       Subscriber|   95130|
|384363|     263| 7/29/2014 8:15|              42| 7/29/2014 8:19|Embarcadero at Fo...|            51|    368|       Subscriber|   94133|
|384362|     287| 7/29/2014 8:14|              42| 7/29/2014 8:18|Temporary Transba...|            55|    552|       Subscriber|   94111|
|384154|     212| 7/29/2014 7:10|              42| 7/29/2014 7:14|Commercial at Mon...|            45|    189|       Subscriber|   94111|
+------+--------+---------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+
only showing top 20 rows

In [ ]:
#Checking we selected the relevant data
spark.sql("SELECT * FROM subscribers WHERE start_station_name=\'Davis at Jackson\'").show()

+-----+--------+---------------+------------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+
|   id|duration|     start_date|start_station_name|start_station_id|       end_date|    end_station_name|end_station_id|bike_id|subscription_type|zip_code|
+-----+--------+---------------+------------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+
| 4799|     267|8/29/2013 17:19|  Davis at Jackson|              42|8/29/2013 17:24|   Steuart at Market|            74|    399|       Subscriber|   94105|
| 4890|     347|8/29/2013 18:13|  Davis at Jackson|              42|8/29/2013 18:19|     Beale at Market|            56|    326|       Subscriber|   94123|
| 5004|     430|8/29/2013 20:05|  Davis at Jackson|              42|8/29/2013 20:12|   Market at Sansome|            77|    377|       Subscriber|   94110|
| 4462|     646|8/29/2013 13:07|  Davis at Jackson|              42|8/29/2013 13:18|Mechanics Plaza (...|            75|    543|       Subscriber|   94109|
| 4943|     970|8/29/2013 19:06|  Davis at Jackson|              42|8/29/2013 19:22| Golden Gate at Polk|            59|    421|       Subscriber|   94111|
| 4629|    1065|8/29/2013 15:03|  Davis at Jackson|              42|8/29/2013 15:20|South Van Ness at...|            66|    356|       Subscriber|   94127|
| 4461|    1314|8/29/2013 13:07|  Davis at Jackson|              42|8/29/2013 13:29|      Market at 10th|            67|    598|       Subscriber|   94121|
| 4302|    2138|8/29/2013 11:58|  Davis at Jackson|              42|8/29/2013 12:33|       Market at 4th|            76|    615|       Subscriber|   94129|
| 5492|     356|8/30/2013 12:09|  Davis at Jackson|              42|8/30/2013 12:15|Grant Avenue at C...|            73|    425|       Subscriber|   94129|
| 6770|     375|8/31/2013 12:21|  Davis at Jackson|              42|8/31/2013 12:27|Mechanics Plaza (...|            75|    412|       Subscriber|   94127|
| 6503|    1017| 8/31/2013 7:47|  Davis at Jackson|              42| 8/31/2013 8:04|San Francisco Cal...|            69|    573|       Subscriber|   94111|
| 7586|     313| 9/1/2013 10:55|  Davis at Jackson|              42| 9/1/2013 11:00|Embarcadero at Sa...|            60|    461|       Subscriber|   94111|
| 9103|     287| 9/2/2013 15:51|  Davis at Jackson|              42| 9/2/2013 15:56|   Steuart at Market|            74|    404|       Subscriber|   94110|
| 9194|     481| 9/2/2013 17:36|  Davis at Jackson|              42| 9/2/2013 17:44|Embarcadero at Fo...|            51|    584|       Subscriber|   94105|
| 9264|     363| 9/2/2013 19:15|  Davis at Jackson|              42| 9/2/2013 19:22|Grant Avenue at C...|            73|    386|       Subscriber|   94133|
| 9405|     378|  9/3/2013 7:44|  Davis at Jackson|              42|  9/3/2013 7:50|     Spear at Folsom|            49|    357|       Subscriber|   94133|
| 9813|     381| 9/3/2013 14:13|  Davis at Jackson|              42| 9/3/2013 14:19|Embarcadero at Sa...|            60|    340|       Subscriber|   94605|
| 9886|     216| 9/3/2013 15:37|  Davis at Jackson|              42| 9/3/2013 15:41|    Davis at Jackson|            42|    281|       Subscriber|   94111|
|10024|     570| 9/3/2013 17:15|  Davis at Jackson|              42| 9/3/2013 17:24|     2nd at Townsend|            61|    337|       Subscriber|   94111|
|10107|     642| 9/3/2013 18:17|  Davis at Jackson|              42| 9/3/2013 18:28|   2nd at South Park|            64|    281|       Subscriber|   94602|
+-----+--------+---------------+------------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+
only showing top 20 rows

By checking the zip_code and start_date fields, data is the same, yet the partitioned table does not contain the partition key.

## Practical examples

- Read CSV
- Read JSON
- Read Parquet
- Select multiple columns with PySpark vs SparkSQL query
- Filter, group by
- Join two tables
- Print schema
- Save to persistent tables
- Cache data in memory
- Programatically specifying the schema
- Partinioning example

## Read CSV

In [ ]:
# Let's get an spark session
spark = get_spark()

station_csv_df=spark.read.csv("s3a://msin0166-spark-workshop/data/sf_bike_sharing_data/station.csv",header=True)
station_csv_df.show()

+---+--------------------+------------------+-------------------+----------+------------+-----------------+
| id|                name|               lat|               long|dock_count|        city|installation_date|
+---+--------------------+------------------+-------------------+----------+------------+-----------------+
|  2|San Jose Diridon ...|         37.329732|-121.90178200000001|        27|    San Jose|         8/6/2013|
|  3|San Jose Civic Ce...|         37.330698|        -121.888979|        15|    San Jose|         8/5/2013|
|  4|Santa Clara at Al...|         37.333988|        -121.894902|        11|    San Jose|         8/6/2013|
|  5|    Adobe on Almaden|         37.331415|          -121.8932|        19|    San Jose|         8/5/2013|
|  6|    San Pedro Square|37.336721000000004|        -121.894074|        15|    San Jose|         8/7/2013|
|  7|Paseo de San Antonio|         37.333798|-121.88694299999999|        15|    San Jose|         8/7/2013|
|  8| San Salvador at 1st|         37.330165|-121.88583100000001|        15|    San Jose|         8/5/2013|
|  9|           Japantown|         37.348742|-121.89471499999999|        15|    San Jose|         8/5/2013|
| 10|  San Jose City Hall|         37.337391|        -121.886995|        15|    San Jose|         8/6/2013|
| 11|         MLK Library|         37.335885|-121.88566000000002|        19|    San Jose|         8/6/2013|
| 12|SJSU 4th at San C...|         37.332808|-121.88389099999999|        19|    San Jose|         8/7/2013|
| 13|       St James Park|         37.339301|-121.88993700000002|        15|    San Jose|         8/6/2013|
| 14|Arena Green / SAP...|         37.332692|        -121.900084|        19|    San Jose|         8/5/2013|
| 16|SJSU - San Salvad...|37.333954999999996|        -121.877349|        15|    San Jose|         8/7/2013|
| 21|   Franklin at Maple|         37.481758|        -122.226904|        15|Redwood City|        8/12/2013|
| 22|Redwood City Calt...|37.486078000000006|-122.23208899999999|        25|Redwood City|        8/15/2013|
| 23|San Mateo County ...|37.487615999999996|        -122.229951|        15|Redwood City|        8/15/2013|
| 24|Redwood City Publ...|         37.484219|        -122.227424|        15|Redwood City|        8/12/2013|
| 25|Stanford in Redwo...|          37.48537|-122.20328799999999|        15|Redwood City|        8/12/2013|
| 26|Redwood City Medi...|         37.487682|        -122.223492|        15|Redwood City|        8/12/2013|
+---+--------------------+------------------+-------------------+----------+------------+-----------------+
only showing top 20 rows

In [ ]:
#Check dataframe schema
station_csv_df.printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- lat: string (nullable = true)
 |-- long: string (nullable = true)
 |-- dock_count: string (nullable = true)
 |-- city: string (nullable = true)
 |-- installation_date: string (nullable = true)

You can then register this dataframe as a temporary table and query it as shown in previous examples.

## Read JSON
**Note**: This example is based on the Yelp business dataset, provided on Moodle.

In [ ]:
yelp_business= spark.read.json("s3a://msin0166-spark-workshop/data/yelp_business_data/yelp_academic_dataset_business.json")
yelp_business.show()

+--------------------+--------------------+--------------------+--------------------+------------------+--------------------+-------+-------------+---------------+--------------------+-----------+------------+-----+-----+
|             address|          attributes|         business_id|          categories|              city|               hours|is_open|     latitude|      longitude|                name|postal_code|review_count|stars|state|
+--------------------+--------------------+--------------------+--------------------+------------------+--------------------+-------+-------------+---------------+--------------------+-----------+------------+-----+-----+
|2818 E Camino Ace...|{null, null, null...|1SWheh84yJXfytovI...|   Golf, Active Life|           Phoenix|                null|      0|   33.5221425|   -112.0184807|Arizona Biltmore ...|      85016|           5|  3.0|   AZ|
|30 Eglinton Avenue W|{null, null, u'fu...|QXAEGFB4oINsVuTFx...|Specialty Food, R...|       Mississauga|{9:0-1:0, 9:0-0:0...|      1|43.6054989743|  -79.652288909|Emerald Chinese R...|    L5R 3E7|         128|  2.5|   ON|
|10110 Johnston Rd...|{null, null, u'be...|gnKjwL_1w79qoiV3I...|Sushi Bars, Resta...|         Charlotte|{17:30-22:0, 17:3...|      1|    35.092564|     -80.859132|Musashi Japanese ...|      28210|         170|  4.0|   NC|
|15655 W Roosevelt...|                null|xvX2CttrVhyG2z1dF...|Insurance, Financ...|          Goodyear|{8:0-17:0, 8:0-17...|      1|33.4556129678|-112.3955963552|Farmers Insurance...|      85338|           3|  5.0|   AZ|
|4209 Stuart Andre...|{null, null, null...|HhyxOkGAM07SRYtlQ...|Plumbing, Shoppin...|         Charlotte|{7:0-23:0, 7:0-23...|      1|   35.1900119|    -80.8872232| Queen City Plumbing|      28217|           4|  4.0|   NC|
|Credit Valley Tow...|{null, null, null...|68dUKd8_8liJ7in4a...|Shipping Centers,...|       Mississauga|{9:0-19:0, 9:0-19...|      1|   43.5994753|    -79.7115835|       The UPS Store|    L5V 0B1|           3|  2.5|   ON|
|20 Douglas Woods ...|{null, null, null...|5JucpCfHZltJh5r1J...|Beauty & Spas, Ha...|           Calgary|                null|      1|   50.9436456|   -114.0018283|    Edgeworxx Studio|    T2Z 1K4|           7|  3.5|   AB|
|4545 E Tropicana ...|{null, null, null...|gbQN7vr_caG_A1ugS...|Hair Salons, Hair...|         Las Vegas|{10:0-19:0, 10:0-...|      1|    36.099872|    -115.074574|           Supercuts|      89121|           3|  3.5|   NV|
|5940 W Union Hill...|{null, null, null...|Y6iyemLX_oylRpnr3...|Nail Salons, Beau...|          Glendale|{10:0-17:0, null,...|      0|   33.6548146|   -112.1885676|Vita Bella Fine D...|      85308|           8|  5.0|   AZ|
|     21689 Lorain Rd|{False, null, nul...|4GBVPIYRvzGh4K4Tk...|Beauty & Spas, Na...|     Fairview Park|{9:0-19:0, null, ...|      1|41.4408252653| -81.8540965503| Options Salon & Spa|      44126|           8|  4.5|   OH|
|1210 8th Street S...|{null, null, null...|fcXOEZdXYeZqnQ3lG...|Local Services, P...|           Calgary|{9:0-17:0, 9:0-17...|      1|    51.041771|    -114.081109|Nucleus Informati...|    T2R 1L3|           5|  2.0|   AB|
|2450 E Indian Sch...|{null, null, u'no...|1Dfx3zM-rW4n-31Ke...|Restaurants, Brea...|           Phoenix|{7:0-1:0, 7:0-0:0...|      1|   33.4951941|   -112.0285876|           Taco Bell|      85016|          18|  3.0|   AZ|
|119 Landings Dr, ...|{null, null, 'bee...|5t3KVdMnFgAYmSl1w...|Bars, Nightlife, ...|       Mooresville|{10:0-1:0, 10:0-1...|      1|35.5274098057| -80.8680032061|The Kilted Buffal...|      28117|           9|  3.5|   NC|
|     5981 Andrews Rd|{null, null, u'no...|fweCYi8FmbJXHCqLn...|Italian, Restaura...|Mentor-on-the-Lake|{10:0-1:0, 10:0-0...|      1|     41.70852|     -81.359556|       Marco's Pizza|      44060|          16|  4.0|   OH|
|        4145 Erie St|{null, null, null...|-K4gAv8_vjx8-2Bxk...|      Bakeries, Food|        Willoughby|{11:0-17:0, null,...|      1|   41.6398599|    -81.4063963|          Baby Cakes|      44094|           7|  3.0|   OH|
|    1455 16th Avenue|{null, null, null...|A98xW4qb7vOTguggH...|Fitness & Instruc...|     Richmond Hill|{16:0-21:30, 16:0...|      1| 43.861502576| -79.3884991854|   Hot Yoga Wellness|    L4B 3G6|           4|  4.0|   ON|
|4848 E Cactus Rd,...|{null, null, null...|giC3pVVFxCRR89rAp...|Hair Stylists, Be...|        Scottsdale|{8:0-17:0, 0:0-0:...|      1|    33.600071|    -111.977371|          Knot Salon|      85254|           5|  5.0|   AZ|
|1775 E Tropicana ...|{null, null, u'fu...|PZ-LZzSlhSe9utkQY...|Restaurants, Italian|         Las Vegas|                null|      0|   36.1000163|   -115.1285285|Carluccio's Tivol...|      89119|          40|  4.0|   NV|
|                    |{null, null, null...|nh_kQ16QAoXWwqZ05...|Event Planning & ...|         Las Vegas|{0:0-0:0, 0:0-0:0...|      1|   36.1165487|   -115.0881146|Myron Hensel Phot...|      89121|          21|  5.0|   NV|
|445 King Street W...|{True, null, null...|zSpQmEBvRe3IhTUlM...|Trainers, Health ...|           Toronto|{6:0-22:0, 6:0-22...|      1|   43.6450415|    -79.3957986|  Totum Life Science|    M5V 1K4|          23|  4.0|   ON|
+--------------------+--------------------+--------------------+--------------------+------------------+--------------------+-------+-------------+---------------+--------------------+-----------+------------+-----+-----+
only showing top 20 rows

In [ ]:
#Register Yelp business as temporary table and query it
yelp_business.createOrReplaceTempView("yelp_business")

In [ ]:
#How many businesses from Las Vegas are listed on our JSON based Yelp business dataset?
spark.sql("SELECT COUNT(*) FROM (SELECT * FROM yelp_business WHERE city==\'Las Vegas\')").show()

+--------+
|count(1)|
+--------+
|   29370|
+--------+

## Read Parquet
**Note**: This is based on the user data dataset provided on Moodle

In [ ]:
users_in_parquet = spark.read.parquet("s3a://msin0166-spark-workshop/data/userdata2.parquet")

In [ ]:
users_in_parquet.show()

+-------------------+----+----------+---------+--------------------+------+---------------+----------------+--------------------+----------+---------+--------------------+--------+
|  registration_dttm|  id|first_name|last_name|               email|gender|     ip_address|              cc|             country| birthdate|   salary|               title|comments|
+-------------------+----+----------+---------+--------------------+------+---------------+----------------+--------------------+----------+---------+--------------------+--------+
|2016-02-03 13:36:39|   1|    Donald|    Lewis|dlewis0@clickbank...|  Male|  102.22.124.20|                |           Indonesia|  7/9/1972|140249.37|Senior Financial ...|        |
|2016-02-03 00:22:28|   2|    Walter|  Collins|wcollins1@bloglov...|  Male|   247.28.26.93|3587726269478025|               China|          |     null|                    |        |
|2016-02-03 18:29:04|   3|  Michelle|Henderson|mhenderson2@geoci...|Female| 193.68.146.150|                |              France| 1/15/1964|236219.26|             Teacher|        |
|2016-02-03 13:42:19|   4|      Lori|   Hudson| lhudson3@dion.ne.jp|      |  34.252.168.48|3568840151595649|              Russia| 4/22/1988|     null|Nuclear Power Eng...|        |
|2016-02-03 00:15:29|   5|    Howard|   Miller|   hmiller4@fema.gov|  Male|103.193.150.230|3583473261055014|              France|11/26/1998| 50210.02|       Senior Editor|        |
|2016-02-03 10:49:07|   6|   Frances|    Adams|fadams5@123-reg.c...|Female| 106.196.106.93|                |              Russia| 3/27/1997| 82175.77| Account Coordinator|        |
|2016-02-03 19:44:12|null|    Steven|   Hanson|  shanson6@cisco.com|  Male|234.130.172.185|3550842607768119|           Indonesia|          |129582.61|                    |        |
|2016-02-03 08:11:34|   8|     Louis|  Simmons|   lsimmons7@icio.us|  Male|    18.69.80.15|                |               China|  6/1/1992| 90744.86|    Product Engineer|        |
|2016-02-03 23:56:51|   9|     Keith|   Parker|kparker8@amazonaw...|  Male|  108.205.40.64|                |          Guadeloupe|12/30/1992|  60618.9|        Developer II|        |
|2016-02-03 07:47:29|  10|     Wanda|   Walker|wwalker9@latimes.com|Female|  246.214.98.78|3539421569669478|            Portugal|          |137664.53|                    |        |
|2016-02-03 16:39:23|  11|   Kathryn|   Weaver|kweavera@bizjourn...|Female| 157.237.161.75| 201425019338900|              Sweden|          |117572.65|                    |        |
|2016-02-03 06:50:56|  12|    Philip|     Ward| pwardb@sakura.ne.jp|  Male|  77.140.225.69| 201508031789224|              Greece|  9/3/1984|238925.79|Human Resources M...|        |
|2016-02-03 23:36:58|  13|    Evelyn|   Harvey|   eharveyc@time.com|      |  254.174.154.7|3539535868968594|               China| 5/15/1979|     null|Software Engineer...|        |
|2016-02-03 07:33:24|  14|    Andrea|     Lane|       alaned@gov.uk|Female|192.253.116.192|5100174455306952|           Indonesia| 1/19/1989|166778.42|            Operator|        |
|2016-02-03 13:45:04|  15|     Bobby|  Vasquez|  bvasqueze@furl.net|  Male|  126.60.18.195|3581051861650673|         Philippines| 1/25/1975|138184.83|       Senior Editor|        |
|2016-02-03 21:58:10|  16|   Kenneth|   Gibson|kgibsonf@soundclo...|  Male| 91.153.142.170|5389947292571488|                Peru| 11/3/1975| 98614.53|  Environmental Tech|        |
|2016-02-03 16:22:34|  17|     Emily|     Hill|    ehillg@house.gov|Female|109.107.174.205|                |Palestinian Terri...| 5/18/1956|218781.48| Executive Secretary|        |
|2016-02-03 23:20:49|  18|     Kelly|   Fowler|   kfowlerh@dell.com|Female|  147.58.88.116|3551741291105936|              Greece| 6/11/1975|117249.56|Systems Administr...|        |
|2016-02-03 18:28:46|  19|     Diana|   Howell| dhowelli@sphinn.com|Female|   21.240.75.42|4026635872860296|                Iran|  7/7/1993|174844.52|             Teacher|        |
|2016-02-03 02:23:26|  20|    Johnny|  Collins| jcollinsj@google.ca|  Male| 38.173.129.250| 372301677387203|         Afghanistan| 7/28/1987|155908.69|       Social Worker|        |
+-------------------+----+----------+---------+--------------------+------+---------------+----------------+--------------------+----------+---------+--------------------+--------+
only showing top 20 rows

In [ ]:
users_in_parquet.registerTempTable("users_2")
spark.sql("SELECT * FROM users_2 WHERE country==\'China\'").show()

/content/spark-3.2.3-bin-hadoop3.2/python/pyspark/sql/dataframe.py:138: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn(

+-------------------+---+----------+----------+--------------------+------+---------------+------------------+-------+----------+---------+--------------------+--------------------+
|  registration_dttm| id|first_name| last_name|               email|gender|     ip_address|                cc|country| birthdate|   salary|               title|            comments|
+-------------------+---+----------+----------+--------------------+------+---------------+------------------+-------+----------+---------+--------------------+--------------------+
|2016-02-03 00:22:28|  2|    Walter|   Collins|wcollins1@bloglov...|  Male|   247.28.26.93|  3587726269478025|  China|          |     null|                    |                    |
|2016-02-03 08:11:34|  8|     Louis|   Simmons|   lsimmons7@icio.us|  Male|    18.69.80.15|                  |  China|  6/1/1992| 90744.86|    Product Engineer|                    |
|2016-02-03 23:36:58| 13|    Evelyn|    Harvey|   eharveyc@time.com|      |  254.174.154.7|  3539535868968594|  China| 5/15/1979|     null|Software Engineer...|                    |
|2016-02-03 00:07:04| 26|    Sandra|   Coleman|scolemanp@blogger...|Female| 230.159.39.252|  3555708337891155|  China|  8/7/1971|113688.11|            VP Sales|                    |
|2016-02-03 14:17:16| 28| Elizabeth|    Warren| ewarrenr@flavors.me|Female|  213.8.204.211| 67099385430526802|  China| 6/14/1996|119515.12|    Media Manager II|                    |
|2016-02-03 06:02:40| 42|      Fred|  Marshall|fmarshall15@ifeng...|      | 160.92.143.233|  6374102245574313|  China|12/18/1984|     null| Structural Engineer|                    |
|2016-02-03 07:08:52| 46|   Gregory|     Jones|  gjones19@jimdo.com|  Male|  132.88.44.128|    30372001476487|  China|12/31/1972|240265.01|     Design Engineer|                    |
|2016-02-03 22:20:33| 55|     Nancy|Montgomery|nmontgomery1i@fre...|Female|   11.235.20.56|  3586137339728301|  China|          |128631.29|                    |               $1.00|
|2016-02-03 00:14:12| 61|      Sean|    Greene|    sgreene1o@goo.gl|  Male|  71.195.178.59|  5602246313163081|  China| 2/20/1991| 70656.63|Sales Representative|                    |
|2016-02-03 19:22:09| 66|     Norma|      Dunn|      ndunn1t@pen.io|Female| 250.241.78.109|                  |  China| 7/20/1967|  77739.6|      Web Designer I|                    |
|2016-02-03 07:06:55| 78|   William|   Mendoza|wmendoza25@prlog.org|  Male|   71.28.136.31|  3580069171786970|  China| 3/20/1967| 81965.94|    Media Manager II|"ثم نفس سقطت وبال...|
|2016-02-03 21:45:58| 84|   Anthony|    Palmer|apalmer2b@uol.com.br|      | 25.228.124.126|  3561410660537354|  China|  7/4/1974|     null|Human Resources A...|                    |
|2016-02-03 07:10:21| 89|   Heather|      Diaz|   hdiaz2g@tmall.com|Female|220.248.165.145|502080553226612964|  China| 7/26/1966|280714.33|        Food Chemist|                    |
|2016-02-03 23:32:20| 91|    Donald|    Murphy|  dmurphy2i@fema.gov|  Male|127.141.234.199|                  |  China| 4/10/1977| 76449.81|     Cost Accountant|                    |
|2016-02-03 01:14:15| 94|      Carl|    Oliver|coliver2l@cafepre...|  Male|  199.184.71.24|                  |  China| 6/26/1967|215279.38|            Operator|   (╯°□°）╯︵ ┻━┻)  |
|2016-02-03 07:39:44|104|    Justin|  Stephens| jstephens2v@msu.edu|  Male| 158.63.150.239|                  |  China| 7/27/1980|124569.44| Structural Engineer|                    |
|2016-02-03 20:48:18|122|   Kathryn|   Stevens|kstevens3d@weibo.com|Female| 121.215.60.247|                  |  China|  2/7/1998|200892.56|Accounting Assist...|                    |
|2016-02-03 08:50:46|125|   Rebecca|   Elliott|relliott3g@diigo.com|      | 84.236.188.212|  6384410944097587|  China|12/23/1969|     null|       Senior Editor|                    |
|2016-02-03 00:50:58|129|     Paula|    Oliver|poliver3k@barnesa...|Female| 108.49.104.111|  3551237510305944|  China|          |149572.54|                    |                    |
|2016-02-03 13:31:06|131|    George|   Jenkins|gjenkins3m@thetim...|  Male| 52.156.166.198|                  |  China| 10/3/1987| 40544.17|Computer Systems ...|              ⁦test⁧|
+-------------------+---+----------+----------+--------------------+------+---------------+------------------+-------+----------+---------+--------------------+--------------------+
only showing top 20 rows

## Select multiple columns with PySpark vs SparkSQL query

In [ ]:
# Select columns using PySpark
users_in_parquet.select("first_name","last_name").show()

+----------+---------+
|first_name|last_name|
+----------+---------+
|    Donald|    Lewis|
|    Walter|  Collins|
|  Michelle|Henderson|
|      Lori|   Hudson|
|    Howard|   Miller|
|   Frances|    Adams|
|    Steven|   Hanson|
|     Louis|  Simmons|
|     Keith|   Parker|
|     Wanda|   Walker|
|   Kathryn|   Weaver|
|    Philip|     Ward|
|    Evelyn|   Harvey|
|    Andrea|     Lane|
|     Bobby|  Vasquez|
|   Kenneth|   Gibson|
|     Emily|     Hill|
|     Kelly|   Fowler|
|     Diana|   Howell|
|    Johnny|  Collins|
+----------+---------+
only showing top 20 rows

In [ ]:
# Select columns using Spark SQL
spark.sql("SELECT first_name,last_name FROM users_2 LIMIT 20").show()

+----------+---------+
|first_name|last_name|
+----------+---------+
|    Donald|    Lewis|
|    Walter|  Collins|
|  Michelle|Henderson|
|      Lori|   Hudson|
|    Howard|   Miller|
|   Frances|    Adams|
|    Steven|   Hanson|
|     Louis|  Simmons|
|     Keith|   Parker|
|     Wanda|   Walker|
|   Kathryn|   Weaver|
|    Philip|     Ward|
|    Evelyn|   Harvey|
|    Andrea|     Lane|
|     Bobby|  Vasquez|
|   Kenneth|   Gibson|
|     Emily|     Hill|
|     Kelly|   Fowler|
|     Diana|   Howell|
|    Johnny|  Collins|
+----------+---------+

In [ ]:
# Select columns using PySpark
subscribers.select("start_station_name","end_station_name","bike_id","duration").show()

+--------------------+--------------------+-------+--------+
|  start_station_name|    end_station_name|bike_id|duration|
+--------------------+--------------------+-------+--------+
|South Van Ness at...|South Van Ness at...|    520|      63|
|  San Jose City Hall|  San Jose City Hall|    661|      70|
|Mountain View Cit...|Mountain View Cit...|     48|      71|
|  San Jose City Hall|  San Jose City Hall|     26|      77|
|South Van Ness at...|      Market at 10th|    319|      83|
| Golden Gate at Polk| Golden Gate at Polk|    527|     103|
|Santa Clara at Al...|    Adobe on Almaden|    679|     109|
| San Salvador at 1st| San Salvador at 1st|    687|     111|
|South Van Ness at...|South Van Ness at...|    553|     113|
|  San Jose City Hall|         MLK Library|    107|     114|
|     Spear at Folsom|Embarcadero at Br...|    368|     125|
|    San Pedro Square|Santa Clara at Al...|     26|     126|
|Mountain View Cal...|Mountain View Cal...|    140|     129|
|   2nd at South Park|   2nd at South Park|    371|     130|
|     Clay at Battery|     Beale at Market|    503|     134|
|     Post at Kearney|     Post at Kearney|    408|     138|
|  San Jose City Hall|  San Jose City Hall|     26|     141|
|      Market at 10th|      Market at 10th|    319|     142|
|   Steuart at Market|Harry Bridges Pla...|    564|     142|
|  Powell Street BART|       Market at 4th|    574|     144|
+--------------------+--------------------+-------+--------+
only showing top 20 rows

In [ ]:
# Select columns using Spark SQL
spark.sql("SELECT start_station_name,end_station_name,bike_id,duration FROM subscribers LIMIT 20").show()

+--------------------+--------------------+-------+--------+
|  start_station_name|    end_station_name|bike_id|duration|
+--------------------+--------------------+-------+--------+
|South Van Ness at...|South Van Ness at...|    520|      63|
|  San Jose City Hall|  San Jose City Hall|    661|      70|
|Mountain View Cit...|Mountain View Cit...|     48|      71|
|  San Jose City Hall|  San Jose City Hall|     26|      77|
|South Van Ness at...|      Market at 10th|    319|      83|
| Golden Gate at Polk| Golden Gate at Polk|    527|     103|
|Santa Clara at Al...|    Adobe on Almaden|    679|     109|
| San Salvador at 1st| San Salvador at 1st|    687|     111|
|South Van Ness at...|South Van Ness at...|    553|     113|
|  San Jose City Hall|         MLK Library|    107|     114|
|     Spear at Folsom|Embarcadero at Br...|    368|     125|
|    San Pedro Square|Santa Clara at Al...|     26|     126|
|Mountain View Cal...|Mountain View Cal...|    140|     129|
|   2nd at South Park|   2nd at South Park|    371|     130|
|     Clay at Battery|     Beale at Market|    503|     134|
|     Post at Kearney|     Post at Kearney|    408|     138|
|  San Jose City Hall|  San Jose City Hall|     26|     141|
|      Market at 10th|      Market at 10th|    319|     142|
|   Steuart at Market|Harry Bridges Pla...|    564|     142|
|  Powell Street BART|       Market at 4th|    574|     144|
+--------------------+--------------------+-------+--------+

## Filtering and groupping by

In [ ]:
# Filter data using PySpark
subscribers.filter((subscribers.duration>60) & (subscribers.duration<=100)).show()

+-----+--------+---------------+--------------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+
|   id|duration|     start_date|  start_station_name|start_station_id|       end_date|    end_station_name|end_station_id|bike_id|subscription_type|zip_code|
+-----+--------+---------------+--------------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+
| 4576|      63|8/29/2013 14:13|South Van Ness at...|              66|8/29/2013 14:14|South Van Ness at...|            66|    520|       Subscriber|   94127|
| 4607|      70|8/29/2013 14:42|  San Jose City Hall|              10|8/29/2013 14:43|  San Jose City Hall|            10|    661|       Subscriber|   95138|
| 4130|      71|8/29/2013 10:16|Mountain View Cit...|              27|8/29/2013 10:17|Mountain View Cit...|            27|     48|       Subscriber|   97214|
| 4251|      77|8/29/2013 11:29|  San Jose City Hall|              10|8/29/2013 11:30|  San Jose City Hall|            10|     26|       Subscriber|   95060|
| 4299|      83|8/29/2013 12:02|South Van Ness at...|              66|8/29/2013 12:04|      Market at 10th|            67|    319|       Subscriber|   94103|
| 6115|      69|8/30/2013 16:30|       2nd at Folsom|              62|8/30/2013 16:31|       2nd at Folsom|            62|    633|       Subscriber|   94107|
| 5349|      76|8/30/2013 10:56|  San Jose City Hall|              10|8/30/2013 10:57|         MLK Library|            11|     28|       Subscriber|   95112|
| 5314|      94|8/30/2013 10:44|      Market at 10th|              67|8/30/2013 10:46|South Van Ness at...|            66|    598|       Subscriber|   94703|
| 7250|      68|8/31/2013 16:53|University and Em...|              35|8/31/2013 16:54|University and Em...|            35|    100|       Subscriber|   97214|
| 7226|      79|8/31/2013 16:39|Harry Bridges Pla...|              50|8/31/2013 16:40|Harry Bridges Pla...|            50|    417|       Subscriber|   94041|
| 8731|      80| 9/2/2013 11:53|Temporary Transba...|              55| 9/2/2013 11:54|Temporary Transba...|            55|    291|       Subscriber|   94111|
| 8968|      61| 9/2/2013 14:25|Powell at Post (U...|              71| 9/2/2013 14:26|Powell at Post (U...|            71|    434|       Subscriber|   94108|
| 9380|      89|  9/3/2013 6:34|Embarcadero at Sa...|              60|  9/3/2013 6:36|Embarcadero at Sa...|            60|    513|       Subscriber|   94111|
| 9402|      97|  9/3/2013 7:40|Harry Bridges Pla...|              50|  9/3/2013 7:41|Harry Bridges Pla...|            50|    528|       Subscriber|   94510|
| 9436|      92|  9/3/2013 8:30|           Japantown|               9|  9/3/2013 8:32|           Japantown|             9|    101|       Subscriber|   95112|
| 9451|      88|  9/3/2013 8:48|Embarcadero at Fo...|              51|  9/3/2013 8:50|Embarcadero at Fo...|            51|    381|       Subscriber|   94602|
| 9463|      85|  9/3/2013 9:01|California Ave Ca...|              36|  9/3/2013 9:02|California Ave Ca...|            36|    168|       Subscriber|   94306|
| 9564|      91| 9/3/2013 11:13|South Van Ness at...|              66| 9/3/2013 11:14|South Van Ness at...|            66|    274|       Subscriber|   94043|
|10053|      94| 9/3/2013 17:33|         MLK Library|              11| 9/3/2013 17:34|         MLK Library|            11|     86|       Subscriber|   95112|
|10093|      67| 9/3/2013 18:06|South Van Ness at...|              66| 9/3/2013 18:07|South Van Ness at...|            66|    610|       Subscriber|   94117|
+-----+--------+---------------+--------------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+
only showing top 20 rows

In [ ]:
# Filter data using Spark SQL
spark.sql("SELECT * FROM subscribers WHERE duration >60 AND duration<=100").show()

+-----+--------+---------------+--------------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+
|   id|duration|     start_date|  start_station_name|start_station_id|       end_date|    end_station_name|end_station_id|bike_id|subscription_type|zip_code|
+-----+--------+---------------+--------------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+
| 4576|      63|8/29/2013 14:13|South Van Ness at...|              66|8/29/2013 14:14|South Van Ness at...|            66|    520|       Subscriber|   94127|
| 4607|      70|8/29/2013 14:42|  San Jose City Hall|              10|8/29/2013 14:43|  San Jose City Hall|            10|    661|       Subscriber|   95138|
| 4130|      71|8/29/2013 10:16|Mountain View Cit...|              27|8/29/2013 10:17|Mountain View Cit...|            27|     48|       Subscriber|   97214|
| 4251|      77|8/29/2013 11:29|  San Jose City Hall|              10|8/29/2013 11:30|  San Jose City Hall|            10|     26|       Subscriber|   95060|
| 4299|      83|8/29/2013 12:02|South Van Ness at...|              66|8/29/2013 12:04|      Market at 10th|            67|    319|       Subscriber|   94103|
| 6115|      69|8/30/2013 16:30|       2nd at Folsom|              62|8/30/2013 16:31|       2nd at Folsom|            62|    633|       Subscriber|   94107|
| 5349|      76|8/30/2013 10:56|  San Jose City Hall|              10|8/30/2013 10:57|         MLK Library|            11|     28|       Subscriber|   95112|
| 5314|      94|8/30/2013 10:44|      Market at 10th|              67|8/30/2013 10:46|South Van Ness at...|            66|    598|       Subscriber|   94703|
| 7250|      68|8/31/2013 16:53|University and Em...|              35|8/31/2013 16:54|University and Em...|            35|    100|       Subscriber|   97214|
| 7226|      79|8/31/2013 16:39|Harry Bridges Pla...|              50|8/31/2013 16:40|Harry Bridges Pla...|            50|    417|       Subscriber|   94041|
| 8731|      80| 9/2/2013 11:53|Temporary Transba...|              55| 9/2/2013 11:54|Temporary Transba...|            55|    291|       Subscriber|   94111|
| 8968|      61| 9/2/2013 14:25|Powell at Post (U...|              71| 9/2/2013 14:26|Powell at Post (U...|            71|    434|       Subscriber|   94108|
| 9380|      89|  9/3/2013 6:34|Embarcadero at Sa...|              60|  9/3/2013 6:36|Embarcadero at Sa...|            60|    513|       Subscriber|   94111|
| 9402|      97|  9/3/2013 7:40|Harry Bridges Pla...|              50|  9/3/2013 7:41|Harry Bridges Pla...|            50|    528|       Subscriber|   94510|
| 9436|      92|  9/3/2013 8:30|           Japantown|               9|  9/3/2013 8:32|           Japantown|             9|    101|       Subscriber|   95112|
| 9451|      88|  9/3/2013 8:48|Embarcadero at Fo...|              51|  9/3/2013 8:50|Embarcadero at Fo...|            51|    381|       Subscriber|   94602|
| 9463|      85|  9/3/2013 9:01|California Ave Ca...|              36|  9/3/2013 9:02|California Ave Ca...|            36|    168|       Subscriber|   94306|
| 9564|      91| 9/3/2013 11:13|South Van Ness at...|              66| 9/3/2013 11:14|South Van Ness at...|            66|    274|       Subscriber|   94043|
|10053|      94| 9/3/2013 17:33|         MLK Library|              11| 9/3/2013 17:34|         MLK Library|            11|     86|       Subscriber|   95112|
|10093|      67| 9/3/2013 18:06|South Van Ness at...|              66| 9/3/2013 18:07|South Van Ness at...|            66|    610|       Subscriber|   94117|
+-----+--------+---------------+--------------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+
only showing top 20 rows

In [ ]:
# Group by using PySpark
#We have to first convert the duration to double type
from pyspark.sql.types import DoubleType
subscribers = subscribers.withColumn("duration", subscribers["duration"].cast(DoubleType()))
subscribers.groupBy("bike_id").sum("duration").show()

+-------+-------------+
|bike_id|sum(duration)|
+-------+-------------+
|    675|     101382.0|
|    467|     476556.0|
|    296|     156101.0|
|    691|      75062.0|
|    125|      39139.0|
|    451|     815995.0|
|    666|      54649.0|
|    124|      88313.0|
|    447|     923226.0|
|    591|     830507.0|
|     51|      88612.0|
|    574|    1034693.0|
|    613|     914909.0|
|    307|      82875.0|
|    475|     684313.0|
|    544|     797837.0|
|    334|     934758.0|
|    577|     784963.0|
|    581|     906101.0|
|    205|      86722.0|
+-------+-------------+
only showing top 20 rows

In [ ]:
# Group by using Spark SQL
spark.sql("SELECT bike_id, SUM(duration) AS duration FROM subscribers GROUP BY bike_id").show()

+-------+---------+
|bike_id| duration|
+-------+---------+
|    675| 101382.0|
|    467| 476556.0|
|    296| 156101.0|
|    691|  75062.0|
|    125|  39139.0|
|    451| 815995.0|
|    666|  54649.0|
|    124|  88313.0|
|    447| 923226.0|
|    591| 830507.0|
|     51|  88612.0|
|    574|1034693.0|
|    613| 914909.0|
|    307|  82875.0|
|    475| 684313.0|
|    544| 797837.0|
|    334| 934758.0|
|    577| 784963.0|
|    581| 906101.0|
|    205|  86722.0|
+-------+---------+
only showing top 20 rows

## Joining two tables

In [ ]:
#we will first create two tables to be joined 
bike_and_duration=spark.sql("SELECT bike_id,duration FROM subscribers WHERE bike_id <5000")
bike_and_duration.show()

+-------+--------+
|bike_id|duration|
+-------+--------+
|    520|      63|
|    661|      70|
|     48|      71|
|     26|      77|
|    319|      83|
|    527|     103|
|    679|     109|
|    687|     111|
|    553|     113|
|    107|     114|
|    368|     125|
|     26|     126|
|    140|     129|
|    371|     130|
|    503|     134|
|    408|     138|
|     26|     141|
|    319|     142|
|    564|     142|
|    574|     144|
+-------+--------+
only showing top 20 rows

In [ ]:
bike_and_stations=spark.sql("SELECT bike_id,start_station_name,end_station_name FROM subscribers WHERE bike_id <5000")
bike_and_stations.show()

+-------+--------------------+--------------------+
|bike_id|  start_station_name|    end_station_name|
+-------+--------------------+--------------------+
|    520|South Van Ness at...|South Van Ness at...|
|    661|  San Jose City Hall|  San Jose City Hall|
|     48|Mountain View Cit...|Mountain View Cit...|
|     26|  San Jose City Hall|  San Jose City Hall|
|    319|South Van Ness at...|      Market at 10th|
|    527| Golden Gate at Polk| Golden Gate at Polk|
|    679|Santa Clara at Al...|    Adobe on Almaden|
|    687| San Salvador at 1st| San Salvador at 1st|
|    553|South Van Ness at...|South Van Ness at...|
|    107|  San Jose City Hall|         MLK Library|
|    368|     Spear at Folsom|Embarcadero at Br...|
|     26|    San Pedro Square|Santa Clara at Al...|
|    140|Mountain View Cal...|Mountain View Cal...|
|    371|   2nd at South Park|   2nd at South Park|
|    503|     Clay at Battery|     Beale at Market|
|    408|     Post at Kearney|     Post at Kearney|
|     26|  San Jose City Hall|  San Jose City Hall|
|    319|      Market at 10th|      Market at 10th|
|    564|   Steuart at Market|Harry Bridges Pla...|
|    574|  Powell Street BART|       Market at 4th|
+-------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
#Join two tables using PySpark
bike_and_duration.join(bike_and_stations,on='bike_id',how='left').show()

+-------+--------+--------------------+--------------------+
|bike_id|duration|  start_station_name|    end_station_name|
+-------+--------+--------------------+--------------------+
|    107|     114|  San Jose City Hall|         MLK Library|
|    107|     114|         MLK Library|San Jose Diridon ...|
|    107|     114|  San Jose City Hall|San Jose Diridon ...|
|    107|     114|San Jose Diridon ...| San Salvador at 1st|
|    107|     114| San Salvador at 1st|Paseo de San Antonio|
|    107|     114|Paseo de San Antonio| San Salvador at 1st|
|    107|     114|San Jose Diridon ...|  San Jose City Hall|
|    107|     114|  San Jose City Hall| San Salvador at 1st|
|    107|     114| San Salvador at 1st|         MLK Library|
|    107|     114|       St James Park|    San Pedro Square|
|    107|     114|    San Pedro Square|SJSU - San Salvad...|
|    107|     114|San Jose Diridon ...|Arena Green / SAP...|
|    107|     114|Arena Green / SAP...|SJSU - San Salvad...|
|    107|     114|SJSU - San Salvad...|         MLK Library|
|    107|     114|         MLK Library|SJSU - San Salvad...|
|    107|     114|SJSU - San Salvad...|         MLK Library|
|    107|     114|         MLK Library|SJSU - San Salvad...|
|    107|     114|SJSU - San Salvad...|Paseo de San Antonio|
|    107|     114|Paseo de San Antonio|SJSU - San Salvad...|
|    107|     114|Arena Green / SAP...|Arena Green / SAP...|
+-------+--------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
#Join two tables using Spark SQL
#Create views for each dataframe for further querying
bike_and_duration.createTempView("bike_and_duration")
bike_and_stations.createTempView("bike_and_stations")

In [ ]:
spark.sql("SELECT bike_and_duration.bike_id, bike_and_duration.duration, bike_and_stations.start_station_name,bike_and_stations.end_station_name FROM bike_and_duration LEFT JOIN bike_and_stations ON bike_and_duration.bike_id==bike_and_stations.bike_id").show()

+-------+--------+--------------------+--------------------+
|bike_id|duration|  start_station_name|    end_station_name|
+-------+--------+--------------------+--------------------+
|    107|     114|  San Jose City Hall|         MLK Library|
|    107|     114|         MLK Library|San Jose Diridon ...|
|    107|     114|  San Jose City Hall|San Jose Diridon ...|
|    107|     114|San Jose Diridon ...| San Salvador at 1st|
|    107|     114| San Salvador at 1st|Paseo de San Antonio|
|    107|     114|Paseo de San Antonio| San Salvador at 1st|
|    107|     114|San Jose Diridon ...|  San Jose City Hall|
|    107|     114|  San Jose City Hall| San Salvador at 1st|
|    107|     114| San Salvador at 1st|         MLK Library|
|    107|     114|       St James Park|    San Pedro Square|
|    107|     114|    San Pedro Square|SJSU - San Salvad...|
|    107|     114|San Jose Diridon ...|Arena Green / SAP...|
|    107|     114|Arena Green / SAP...|SJSU - San Salvad...|
|    107|     114|SJSU - San Salvad...|         MLK Library|
|    107|     114|         MLK Library|SJSU - San Salvad...|
|    107|     114|SJSU - San Salvad...|         MLK Library|
|    107|     114|         MLK Library|SJSU - San Salvad...|
|    107|     114|SJSU - San Salvad...|Paseo de San Antonio|
|    107|     114|Paseo de San Antonio|SJSU - San Salvad...|
|    107|     114|Arena Green / SAP...|Arena Green / SAP...|
+-------+--------+--------------------+--------------------+
only showing top 20 rows

## Save to persistent tables

DataFrames can also be saved as persistent tables into Hive metastore using the saveAsTable command. 

Unlike the createOrReplaceTempView command, saveAsTable will materialize the contents of the DataFrame and create a pointer to the data in the Hive metastore. 

Persistent tables will still exist even after your Spark program has restarted, as long as you maintain your connection to the same metastore. A DataFrame for a persistent table can be created by calling the table method on a SparkSession with the name of the table.

Source: https://spark.apache.org/docs/latest/sql-data-sources-load-save-functions.html#saving-to-persistent-tables

In [ ]:
joined_table=spark.sql("SELECT bike_and_duration.bike_id, bike_and_duration.duration, bike_and_stations.start_station_name,bike_and_stations.end_station_name FROM bike_and_duration LEFT JOIN bike_and_stations ON bike_and_duration.bike_id==bike_and_stations.bike_id LIMIT 10")

In [ ]:
#joined_table.write.parquet('bike_station_duration_joined_1.parquet').saveAsTable("bike_station_duration_joined_final")
joined_table.write.mode("append").saveAsTable("bike_station_duration_table")

In [ ]:
spark.sql("SELECT * FROM bike_station_duration_table LIMIT 10").show()

+-------+--------+--------------------+--------------------+
|bike_id|duration|  start_station_name|    end_station_name|
+-------+--------+--------------------+--------------------+
|    107|     114|  San Jose City Hall|         MLK Library|
|    107|     114|         MLK Library|San Jose Diridon ...|
|    107|     114|  San Jose City Hall|San Jose Diridon ...|
|    107|     114|San Jose Diridon ...| San Salvador at 1st|
|    107|     114| San Salvador at 1st|Paseo de San Antonio|
|    107|     114|Paseo de San Antonio| San Salvador at 1st|
|    107|     114|San Jose Diridon ...|  San Jose City Hall|
|    107|     114|  San Jose City Hall| San Salvador at 1st|
|    107|     114| San Salvador at 1st|         MLK Library|
|    107|     114|       St James Park|    San Pedro Square|
+-------+--------+--------------------+--------------------+

## Caching data in memory

For more details, please read the documentation: https://spark.apache.org/docs/latest/sql-performance-tuning.html

In [ ]:
from time import time

start_time=time()
subscribers.show()
end_time=time()

+----+--------+---------------+--------------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+
|  id|duration|     start_date|  start_station_name|start_station_id|       end_date|    end_station_name|end_station_id|bike_id|subscription_type|zip_code|
+----+--------+---------------+--------------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+
|4576|    63.0|8/29/2013 14:13|South Van Ness at...|              66|8/29/2013 14:14|South Van Ness at...|            66|    520|       Subscriber|   94127|
|4607|    70.0|8/29/2013 14:42|  San Jose City Hall|              10|8/29/2013 14:43|  San Jose City Hall|            10|    661|       Subscriber|   95138|
|4130|    71.0|8/29/2013 10:16|Mountain View Cit...|              27|8/29/2013 10:17|Mountain View Cit...|            27|     48|       Subscriber|   97214|
|4251|    77.0|8/29/2013 11:29|  San Jose City Hall|              10|8/29/2013 11:30|  San Jose City Hall|            10|     26|       Subscriber|   95060|
|4299|    83.0|8/29/2013 12:02|South Van Ness at...|              66|8/29/2013 12:04|      Market at 10th|            67|    319|       Subscriber|   94103|
|4927|   103.0|8/29/2013 18:54| Golden Gate at Polk|              59|8/29/2013 18:56| Golden Gate at Polk|            59|    527|       Subscriber|   94109|
|4500|   109.0|8/29/2013 13:25|Santa Clara at Al...|               4|8/29/2013 13:27|    Adobe on Almaden|             5|    679|       Subscriber|   95112|
|4563|   111.0|8/29/2013 14:02| San Salvador at 1st|               8|8/29/2013 14:04| San Salvador at 1st|             8|    687|       Subscriber|   95112|
|4760|   113.0|8/29/2013 17:01|South Van Ness at...|              66|8/29/2013 17:03|South Van Ness at...|            66|    553|       Subscriber|   94103|
|4258|   114.0|8/29/2013 11:33|  San Jose City Hall|              10|8/29/2013 11:35|         MLK Library|            11|    107|       Subscriber|   95060|
|4549|   125.0|8/29/2013 13:52|     Spear at Folsom|              49|8/29/2013 13:55|Embarcadero at Br...|            54|    368|       Subscriber|   94109|
|4498|   126.0|8/29/2013 13:23|    San Pedro Square|               6|8/29/2013 13:25|Santa Clara at Al...|             4|     26|       Subscriber|   95112|
|4965|   129.0|8/29/2013 19:32|Mountain View Cal...|              28|8/29/2013 19:35|Mountain View Cal...|            28|    140|       Subscriber|   94041|
|4557|   130.0|8/29/2013 13:57|   2nd at South Park|              64|8/29/2013 13:59|   2nd at South Park|            64|    371|       Subscriber|   94122|
|4386|   134.0|8/29/2013 12:31|     Clay at Battery|              41|8/29/2013 12:33|     Beale at Market|            56|    503|       Subscriber|   94109|
|4749|   138.0|8/29/2013 16:57|     Post at Kearney|              47|8/29/2013 16:59|     Post at Kearney|            47|    408|       Subscriber|   94117|
|4242|   141.0|8/29/2013 11:25|  San Jose City Hall|              10|8/29/2013 11:27|  San Jose City Hall|            10|     26|       Subscriber|   95060|
|4329|   142.0|8/29/2013 12:11|      Market at 10th|              67|8/29/2013 12:14|      Market at 10th|            67|    319|       Subscriber|   94103|
|5097|   142.0|8/29/2013 22:21|   Steuart at Market|              74|8/29/2013 22:24|Harry Bridges Pla...|            50|    564|       Subscriber|   94115|
|5084|   144.0|8/29/2013 22:06|  Powell Street BART|              39|8/29/2013 22:08|       Market at 4th|            76|    574|       Subscriber|   94115|
+----+--------+---------------+--------------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+
only showing top 20 rows

In [ ]:
print("Processing without cache time difference",end_time - start_time)

Processing without cache time difference 0.9082796573638916

In [ ]:
subscribers.cache()

DataFrame[id: string, duration: double, start_date: string, start_station_name: string, start_station_id: string, end_date: string, end_station_name: string, end_station_id: string, bike_id: string, subscription_type: string, zip_code: string]

In [ ]:
cache_start_time=time()
subscribers.show()
cache_end_time=time()

+----+--------+---------------+--------------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+
|  id|duration|     start_date|  start_station_name|start_station_id|       end_date|    end_station_name|end_station_id|bike_id|subscription_type|zip_code|
+----+--------+---------------+--------------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+
|4576|    63.0|8/29/2013 14:13|South Van Ness at...|              66|8/29/2013 14:14|South Van Ness at...|            66|    520|       Subscriber|   94127|
|4607|    70.0|8/29/2013 14:42|  San Jose City Hall|              10|8/29/2013 14:43|  San Jose City Hall|            10|    661|       Subscriber|   95138|
|4130|    71.0|8/29/2013 10:16|Mountain View Cit...|              27|8/29/2013 10:17|Mountain View Cit...|            27|     48|       Subscriber|   97214|
|4251|    77.0|8/29/2013 11:29|  San Jose City Hall|              10|8/29/2013 11:30|  San Jose City Hall|            10|     26|       Subscriber|   95060|
|4299|    83.0|8/29/2013 12:02|South Van Ness at...|              66|8/29/2013 12:04|      Market at 10th|            67|    319|       Subscriber|   94103|
|4927|   103.0|8/29/2013 18:54| Golden Gate at Polk|              59|8/29/2013 18:56| Golden Gate at Polk|            59|    527|       Subscriber|   94109|
|4500|   109.0|8/29/2013 13:25|Santa Clara at Al...|               4|8/29/2013 13:27|    Adobe on Almaden|             5|    679|       Subscriber|   95112|
|4563|   111.0|8/29/2013 14:02| San Salvador at 1st|               8|8/29/2013 14:04| San Salvador at 1st|             8|    687|       Subscriber|   95112|
|4760|   113.0|8/29/2013 17:01|South Van Ness at...|              66|8/29/2013 17:03|South Van Ness at...|            66|    553|       Subscriber|   94103|
|4258|   114.0|8/29/2013 11:33|  San Jose City Hall|              10|8/29/2013 11:35|         MLK Library|            11|    107|       Subscriber|   95060|
|4549|   125.0|8/29/2013 13:52|     Spear at Folsom|              49|8/29/2013 13:55|Embarcadero at Br...|            54|    368|       Subscriber|   94109|
|4498|   126.0|8/29/2013 13:23|    San Pedro Square|               6|8/29/2013 13:25|Santa Clara at Al...|             4|     26|       Subscriber|   95112|
|4965|   129.0|8/29/2013 19:32|Mountain View Cal...|              28|8/29/2013 19:35|Mountain View Cal...|            28|    140|       Subscriber|   94041|
|4557|   130.0|8/29/2013 13:57|   2nd at South Park|              64|8/29/2013 13:59|   2nd at South Park|            64|    371|       Subscriber|   94122|
|4386|   134.0|8/29/2013 12:31|     Clay at Battery|              41|8/29/2013 12:33|     Beale at Market|            56|    503|       Subscriber|   94109|
|4749|   138.0|8/29/2013 16:57|     Post at Kearney|              47|8/29/2013 16:59|     Post at Kearney|            47|    408|       Subscriber|   94117|
|4242|   141.0|8/29/2013 11:25|  San Jose City Hall|              10|8/29/2013 11:27|  San Jose City Hall|            10|     26|       Subscriber|   95060|
|4329|   142.0|8/29/2013 12:11|      Market at 10th|              67|8/29/2013 12:14|      Market at 10th|            67|    319|       Subscriber|   94103|
|5097|   142.0|8/29/2013 22:21|   Steuart at Market|              74|8/29/2013 22:24|Harry Bridges Pla...|            50|    564|       Subscriber|   94115|
|5084|   144.0|8/29/2013 22:06|  Powell Street BART|              39|8/29/2013 22:08|       Market at 4th|            76|    574|       Subscriber|   94115|
+----+--------+---------------+--------------------+----------------+---------------+--------------------+--------------+-------+-----------------+--------+
only showing top 20 rows

In [ ]:
print("Processing with cache time difference",cache_end_time - cache_start_time)

Processing with cache time difference 4.388555288314819

## Specify the schema in a programmatic way

For more details, read the Spark documentation: https://spark.apache.org/docs/2.3.0/sql-programming-guide.html#programmatically-specifying-the-schema

In [ ]:
# Load a text file and convert each line to a tuple.
from pyspark.sql.types import StructField, StructType, StringType

table_without_schema = spark.sql("SELECT * FROM bike_station_duration_table LIMIT 10").rdd

# The schema is encoded in a string.
schemaString = "bike_id duration start_station_name end_station_name"

fields = [StructField(field_name, StringType(), True) for field_name in schemaString.split()]
schema = StructType(fields)

# Apply the schema to the RDD.
schematable = spark.createDataFrame(table_without_schema, schema)

# Register the DataFrame as a table.
schematable.registerTempTable("table_with_schema")

# SQL can be run over DataFrames that have been registered as a table.
results = spark.sql("SELECT bike_id FROM table_with_schema")

/content/spark-3.2.3-bin-hadoop3.2/python/pyspark/sql/dataframe.py:138: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn(

In [ ]:
results.show()

+-------+
|bike_id|
+-------+
|    107|
|    107|
|    107|
|    107|
|    107|
|    107|
|    107|
|    107|
|    107|
|    107|
+-------+

## Spark SQL vs querying Pandas DataFrames

In [ ]:
import pandas as pd
from time import time

start_time=time()

pandas_df = pd.read_csv("s3://msin0166-spark-workshop/data/sf_bike_sharing_data/station.csv")

end_time=time()

In [ ]:
start_time_spark=time()
station_df = spark.read.csv("s3a://msin0166-spark-workshop/data/sf_bike_sharing_data/station.csv",header=True)
end_time_spark=time()

<div class="alert alert-block alert-info">

We may have noticed that we are usin `s3a//` for Spark and `s3://` for Pandas. This is because Spark is using the S3A file system implementation and Pandas is using the S3 file system implementation from the `s3fs` library.

<div>

In [ ]:
station_df.show()

+---+--------------------+------------------+-------------------+----------+------------+-----------------+
| id|                name|               lat|               long|dock_count|        city|installation_date|
+---+--------------------+------------------+-------------------+----------+------------+-----------------+
|  2|San Jose Diridon ...|         37.329732|-121.90178200000001|        27|    San Jose|         8/6/2013|
|  3|San Jose Civic Ce...|         37.330698|        -121.888979|        15|    San Jose|         8/5/2013|
|  4|Santa Clara at Al...|         37.333988|        -121.894902|        11|    San Jose|         8/6/2013|
|  5|    Adobe on Almaden|         37.331415|          -121.8932|        19|    San Jose|         8/5/2013|
|  6|    San Pedro Square|37.336721000000004|        -121.894074|        15|    San Jose|         8/7/2013|
|  7|Paseo de San Antonio|         37.333798|-121.88694299999999|        15|    San Jose|         8/7/2013|
|  8| San Salvador at 1st|         37.330165|-121.88583100000001|        15|    San Jose|         8/5/2013|
|  9|           Japantown|         37.348742|-121.89471499999999|        15|    San Jose|         8/5/2013|
| 10|  San Jose City Hall|         37.337391|        -121.886995|        15|    San Jose|         8/6/2013|
| 11|         MLK Library|         37.335885|-121.88566000000002|        19|    San Jose|         8/6/2013|
| 12|SJSU 4th at San C...|         37.332808|-121.88389099999999|        19|    San Jose|         8/7/2013|
| 13|       St James Park|         37.339301|-121.88993700000002|        15|    San Jose|         8/6/2013|
| 14|Arena Green / SAP...|         37.332692|        -121.900084|        19|    San Jose|         8/5/2013|
| 16|SJSU - San Salvad...|37.333954999999996|        -121.877349|        15|    San Jose|         8/7/2013|
| 21|   Franklin at Maple|         37.481758|        -122.226904|        15|Redwood City|        8/12/2013|
| 22|Redwood City Calt...|37.486078000000006|-122.23208899999999|        25|Redwood City|        8/15/2013|
| 23|San Mateo County ...|37.487615999999996|        -122.229951|        15|Redwood City|        8/15/2013|
| 24|Redwood City Publ...|         37.484219|        -122.227424|        15|Redwood City|        8/12/2013|
| 25|Stanford in Redwo...|          37.48537|-122.20328799999999|        15|Redwood City|        8/12/2013|
| 26|Redwood City Medi...|         37.487682|        -122.223492|        15|Redwood City|        8/12/2013|
+---+--------------------+------------------+-------------------+----------+------------+-----------------+
only showing top 20 rows

In [ ]:
#Query Spark DataFrame with Spark SQL
station_df.createTempView("station")
spark.sql("SELECT * FROM station where city=\'San Jose\'").show()

+---+--------------------+------------------+-------------------+----------+--------+-----------------+
| id|                name|               lat|               long|dock_count|    city|installation_date|
+---+--------------------+------------------+-------------------+----------+--------+-----------------+
|  2|San Jose Diridon ...|         37.329732|-121.90178200000001|        27|San Jose|         8/6/2013|
|  3|San Jose Civic Ce...|         37.330698|        -121.888979|        15|San Jose|         8/5/2013|
|  4|Santa Clara at Al...|         37.333988|        -121.894902|        11|San Jose|         8/6/2013|
|  5|    Adobe on Almaden|         37.331415|          -121.8932|        19|San Jose|         8/5/2013|
|  6|    San Pedro Square|37.336721000000004|        -121.894074|        15|San Jose|         8/7/2013|
|  7|Paseo de San Antonio|         37.333798|-121.88694299999999|        15|San Jose|         8/7/2013|
|  8| San Salvador at 1st|         37.330165|-121.88583100000001|        15|San Jose|         8/5/2013|
|  9|           Japantown|         37.348742|-121.89471499999999|        15|San Jose|         8/5/2013|
| 10|  San Jose City Hall|         37.337391|        -121.886995|        15|San Jose|         8/6/2013|
| 11|         MLK Library|         37.335885|-121.88566000000002|        19|San Jose|         8/6/2013|
| 12|SJSU 4th at San C...|         37.332808|-121.88389099999999|        19|San Jose|         8/7/2013|
| 13|       St James Park|         37.339301|-121.88993700000002|        15|San Jose|         8/6/2013|
| 14|Arena Green / SAP...|         37.332692|        -121.900084|        19|San Jose|         8/5/2013|
| 16|SJSU - San Salvad...|37.333954999999996|        -121.877349|        15|San Jose|         8/7/2013|
| 80|Santa Clara Count...|         37.352601|-121.90573300000001|        15|San Jose|       12/31/2013|
| 84|         Ryland Park|         37.342725|-121.89561699999999|        15|San Jose|         4/9/2014|
+---+--------------------+------------------+-------------------+----------+--------+-----------------+

In [ ]:
# Query Pandas DataFrame
pandas_df.loc[pandas_df['city']== 'San Jose']

,id,name,lat,long,dock_count,city,installation_date
0,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013
1,3,San Jose Civic Center,37.330698,-121.888979,15,San Jose,8/5/2013
2,4,Santa Clara at Almaden,37.333988,-121.894902,11,San Jose,8/6/2013
3,5,Adobe on Almaden,37.331415,-121.893200,19,San Jose,8/5/2013
4,6,San Pedro Square,37.336721,-121.894074,15,San Jose,8/7/2013
5,7,Paseo de San Antonio,37.333798,-121.886943,15,San Jose,8/7/2013
6,8,San Salvador at 1st,37.330165,-121.885831,15,San Jose,8/5/2013
7,9,Japantown,37.348742,-121.894715,15,San Jose,8/5/2013
8,10,San Jose City Hall,37.337391,-121.886995,15,San Jose,8/6/2013
9,11,MLK Library,37.335885,-121.885660,19,San Jose,8/6/2013
10,12,SJSU 4th at San Carlos,37.332808,-121.883891,19,San Jose,8/7/2013
11,13,St James Park,37.339301,-121.889937,15,San Jose,8/6/2013
12,14,Arena Green / SAP Center,37.332692,-121.900084,19,San Jose,8/5/2013
13,16,SJSU - San Salvador at 9th,37.333955,-121.877349,15,San Jose,8/7/2013
66,80,Santa Clara County Civic Center,37.352601,-121.905733,15,San Jose,12/31/2013
69,84,Ryland Park,37.342725,-121.895617,15,San Jose,4/9/2014

# Practice!
**Note**: Read the Spark documentation and check Stack Overflow when you get stuck.

<img src="https://media.giphy.com/media/8vkEKXvnXkyCZx8w6b/giphy.gif"/>

# Exercise 1:
Read a file of your choice in JSON format and extract the first 10 rows
<br/>
**Note**: You will have to load the file in your data folder first


Here, you can use the Iris flower dataset provided in JSON format:

`s3a://msin0166-spark-workshop/data/iris_flowers_data/iris.json`

## Exercise 2:
Create a new dataset by filtering your existing dataset. Use both the PySpark and Spark SQL functions shown in the **Practical examples** section

Example: By using the Yelp dataset, create a dataframe consisting of top businesses (ranked with 4 stars or higher) listed on Yelp

## Exercise 3: Use Spark SQL and apply the GROUP BY statement to your existing dataset.

## Exercise 4
Create a sample dataset and programmatically specify its schema
<br/>
**Note**: Follow the code in the **Practical examples** section

## Exercise 5 

Count the number of records in your dataset by using a SQL query

#Extra exercise

## Exercise 6

Convert a CSV file of choice to Parquet format by using PySpark.
<br/>
Read data from the Parquet file and select 50 rows of data.

Note: Here, we used the weather.csv dataset from: [s3://msin0166-spark-workshop/data/sf_bike_sharing_data/weather.csv](s3://msin0166-spark-workshop/data/sf_bike_sharing_data/weather.csv) and that you can also get from: [https://www.kaggle.com/datasets/benhamner/sf-bay-area-bike-share](https://www.kaggle.com/datasets/benhamner/sf-bay-area-bike-share)